In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:90%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:10px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font><b>
# 5. 연산자
## 5.1. 산술 연산자 : +, -, *, /(결과 float), //(몫), %(나머지), **(제곱)

In [13]:
print("10*5제곱 =",10**5)
print("4/2(결과 실수) =", 4/2)
print("4**2 =",4**2)
# 정수끼리 연산은 결과가 정수 (단 / 제외)
# 정수와 실수, 실수끼리의 연산 결과는 실수
print("4**2.0 =", 4**2.0)

10*5제곱 = 100000
4/2(결과 실수) = 2.0
4**2 = 16
4**2.0 = 16.0

In [15]:
print("5//2(몫) =", 5//2)
print("5%2(나머지) =", 5%2)

5//2(몫) = 2
5%2(나머지) = 1

In [19]:
# Quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num1 = int(input("정수를 입력하세요: "))
result1 = num1 % 2 #result : -1, 0, 1
if result1:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는 {num1}, 2로 나눈 나머지는 {result1}이므로 {temp}를 입력하셨습니다.")

정수를 입력하세요: 5
입력하신 수는 5, 2로 나눈 나머지는 1이므로 홀수를 입력하셨습니다.

In [25]:
# Quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
num2 = int(input("정수를 입력하세요: "))
result2 = num2 % 5
if result2:
    temp = "입력하지 않으셨습니다."
else:
    temp = "입력하셨습니다."
print(f"입력하신 수는 {num2}, 5로 나눈 나머지는 {result2}이므로 5의 배수를 {temp}")

정수를 입력하세요: 10
입력하신 수는 10, 5로 나눈 나머지는 0이므로 5의 배수를 입력하셨습니다.

In [32]:
# Quiz 3. 국어, 영어, 수학 점수를 입력받아 다음 셀에서 다음과 같이...
kor = int(input("국어 점수를 입력하세요: "))
eng = int(input("영어 점수를 입력하세요: "))
mat = int(input("수학 점수를 입력하세요: "))
sum = kor+eng+mat
ave = sum/3
print('''
국어 : {:3d}\t 영어: {:3d}\t 수학: {:3d}
총점 : {:3d}\t 평균: {:5.1f}
'''.format(kor, eng, mat, sum, ave))

국어 점수를 입력하세요: 99
영어 점수를 입력하세요: 100
수학 점수를 입력하세요: 100

국어 :  99	 영어: 100	 수학: 100
총점 : 299	 평균:  99.7

## 5.2. 할당 연산자 : =, +=, -=, *=, /=, //=, %=

In [44]:
# '='는 할당. 등호는 ==
a = 10
a += 5 # a = a + 5 # 파이썬에서는 a++ 사용하지 않음
print(f"a={a}")

a=15

In [45]:
a -= 5 # a = a - 5
print(f"a={a}")

a=10

In [46]:
a *= 5 # a = a * 5
print(f"a={a}")

a=50

In [47]:
a /= 4 # a = a / 4
print(f"a={a}")

a=12.5

In [48]:
a //= 2 # a = a // 2
print(f"a={a}")

a=6.0

In [49]:
a %= 4 # a = a % 4
print(f"a={a}")

a=2.0

## 5.3. 논리 연산자 : &, and, |, or, not

In [51]:
# & : 논리연산자, 비트연산자
print((10>3)&(10>5)) # 논리연산 True & True
print(12&1) # 비트 연산
# 1 1 0 0 (12)
# 0 0 0 1 (1)
# 0 0 0 0 (0)

True
0

In [53]:
# and : 논리연산자 False로 판별되는 첫 번째 항의 결과 반환
print((10>3)and(10>5))
print(0 and 1) # 연산 마지막 판별 값을 반환함
# - and에서 첫 번째가 false라면 바로 false. 마지막까지 true라면 마지막 값을 반환

True
0

In [60]:
# |: 논리연산자, 비트연산자
result = True | False
print('논리연산(연산자 앞뒤에 논리형일 때): ', result)
result = 3 | False # 0011 | 00000 -> 0011
print('비트연산(연산자 앞뒤에 하나라도 숫자가 있을 때): ', result)

논리연산(연산자 앞뒤에 논리형일 때):  True
비트연산(연산자 앞뒤에 하나라도 숫자가 있을 때):  3

In [61]:
# or : 논리연산자
# 참으로 판별되는 첫 번째 항의 결과 반환
# 모든 항이 거짓이면 마지막 항의 결과 반환
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

[]
Hong

In [62]:
# not : 
not 10>5

False

## 5.4. 비교 연산자 : >, >=, <, <=, ==, !=

In [67]:
# 비교 연산자는 대부분의 다른 언어에서 이항 연산자
x = 95
print((90<=x)&(x<=100)) # 괄호 없으면 & 먼저 계산됨
print(90<=x<=100) # 파이썬에서는 비교 연산자가 다항 연산자
print(4<10>7<8>1) # 비교 연산자 한 쌍씩 순차 (and) 계산

True
True
True

In [68]:
# 비교 연산자의 우선순위가 비트연산자(|, &)의 우선순위보다 낮다
print((10>5)&(10>7)) # True & True
print(10>5 & 10>7) # 우선순위가 <, >보다 높은 5&10 먼저 비트연산(0), 즉 10>0>7로 계산

True
False

In [70]:
address = "목동"
age = 29
print( (address=="목동") & (age <= 30)) # 괄호 없으면 목동 & age 에러!
print( address=="목동" and age <= 30) # 이게 단순히 먹히지만, 가독성 이슈

True
True

In [73]:
# 문자 비교는 ASCII 코드 순으로 비교 : 특수문자 < 숫자(문자) < 대문자 < 소문자 (abc순)
print("scott" < "thomas")
print("고길동" > "홍길동")

True
False

## 5.5. 비트 연산
- &, |, ^(XOR), ~(반대)
^(XOR): 같으면 0, 다르면 1
- x     y    x&y   x|y   x^y   ~x
- -------------------------------
- 0     0     0     0     0     1
- 0     1     0     1     1     1
- 1     0     0     1     1     0
- 1     1     1     1     0     0

In [7]:
a = 15 #1111 (8+4+2+1)
b = 2  #0010 
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101

# 6. 문자열 다루기

- 문자열변수[from:to:step] : 일부 문자 추출
- len(문자열변수) : 문자수 카운트
- 변수.upper() : 대문자로 변경
- 변수.lower() : 소문자로 변경
- title() : 각 어절의 앞글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count("찾을 문자(열)") : "찾을 문자(열)"가 몇 개 들어 있는지 갯수 반환
- find("찾을 문자") : "찾을 문자"를 왼쪽부터 색인, index를 반환
- rfind("찾을 문자") : "찾을 문자"가 오른쪽부터 색인, index를 반환
    - cf. index("찾을 문자') : "찾을 문자"가 왼쪽부터 몇 번째에 있는지 index를 반환 (없으면 error)
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [41]:
temp = "python is easy. python is smart. Python"
#len() 문자수 카운트
print("temp 문자 수: ", len(temp))
#upper() 대문자로 변경 / lower() 소문자로 변경
print("upper() 대문자로 :", temp.upper())
print("lower() 소문자로 :", temp.lower())
#capitalize() 전체 첫 문자만 대문자로 / title() 각 어절 첫 문자를 대문자로
print("capitalize() :", temp.capitalize())
print("title() :", temp.title())
#count() 찾을 문자가 몇 개 들어 있는지 갯수 반환
print("count('java') :", temp.count("java"))
print("count('python') :", temp.count("python"))
print("count('python') 대소구분 없이 :", temp.lower().count("python"))

temp 문자 수:  39
upper() 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
lower() 소문자로 : python is easy. python is smart. python
capitalize() : Python is easy. python is smart. python
title() : Python Is Easy. Python Is Smart. Python
count('java') : 0
count('python') : 2
count('python') 대소구분 없이 : 3

In [39]:
#find() 찾을 문자를 왼쪽부터 색인, index 반환
#rfind() 찾을 문자를 오른쪽부터 색인, index 반환
print("find('python') 첫 index 위치 :", temp.find("python"))
print("rfind('python') 마지막 index 위치 :", temp.rfind("python"))
print("rfind('python') 마지막 index 위치 대소구분 없이 :", temp.lower().rfind("python"))
print("C라는 문자가 나오는 index 위치: ", temp.find("C")) #찾을 문자가 없을 경우 -1
#index
print("python이 나오는 첫 index 위치: ", temp.index("python"))
#[에러] print("java가 나오는 첫 index 위치: ", temp.index("java"))

find('python') 첫 index 위치 : 0
rfind('python') 마지막 index 위치 : 16
rfind('python') 마지막 index 위치 대소구분 없이 : 33
C라는 문자가 나오는 index 위치:  -1
python이 나오는 첫 index 위치:  0

In [44]:
#startswith() : 특정 문자로 시작하는지 여부 반환
print("python으로 시작 여부 :", temp.startswith("python"))
print("python으로 시작 여부, 대소구분 없이 :", temp.lower().startswith("python"))
#ends with() : 특정 문자로 끝나는지 여부
print("python으로 끝남 여부 :", temp.endswith("python"))
print("python으로 끝남 여부, 대소구분 없이 :", temp.lower().endswith("python"))

python으로 시작 여부 : True
python으로 시작 여부, 대소구분 없이 : True
python으로 끝남 여부 : False
python으로 끝남 여부, 대소구분 없이 : True

In [45]:
#replace
print("python을 Snake로 변경 :", temp.replace("python", "Snake"))
print(temp)

python을 Snake로 변경 : Snake is easy. Snake is smart. Python
python is easy. python is smart. Python

In [58]:
temp = "    python is easy    "
notdigit="1,000"
#strip() : 좌우 공백 제거(trim)
print("좌우 공백 제거 : [{}]".format(temp.strip()))
#lstrip() : 왼쪽 공백 제거
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
#rstrip() : 오른쪽 공백 제거
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
#isdigit(): 문자열이 숫자문자열인지 여부 반환
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit())
print("replace 후 isdigit : ", notdigit.replace(",","").isdigit())
#islower(): 문자열이 소문자인지 여부 반환
print("소문자인지 여부 :", temp.islower())
#isupper(): 문자열이 대문자인지 여부 반환
print("대문자인지 여부 :", temp.isupper())
#split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
names = "홍길동 김길동 고길동  박길동 주길동"
name_list = names.split()
print("space 단위로 names 분리(list)", name_list)
print(name_list[0], name_list[1])

좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy    ]
오른쪽 공백 제거 : [    python is easy]
isdigit(숫자문자)인지 여부 : False
replace 후 isdigit :  True
소문자인지 여부 : True
대문자인지 여부 : False
space 단위로 names 분리(list) ['홍길동', '김길동', '고길동', '박길동', '주길동']
홍길동 김길동

In [62]:
date_str = "2025-09-17"
date_list=date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [69]:
# -을 /로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG)"
# temp.replace(" - ", "/")
# split()과 join() 이용하여 replace 역할
splited_temp = temp.split(" - ")
print('splited temp :', splited_temp)
joined_temp = "/".join(splited_temp)
print("joined temp :", joined_temp)

splited temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML(M/DNN/CNN/RNN)', 'LLM(RAG)']
joined temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML(M/DNN/CNN/RNN)/LLM(RAG)

In [71]:
# 문자열을 다룰 수 있는ㄷ 함수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7. 시간, 날짜 다루기

In [73]:
import datetime 
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [2]:
#datetime 모듈(datetime.py) 안의 datetime, date, time만 load
from datetime import datetime, date, time

## 7.1. 시간과 날짜

In [5]:
#특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [10]:
#날짜를 문자열로 전환해 출력
print("{:%y년 %m월 %d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년 %m월 %d일(%A) %H:%M:%S)"))
print(thatday.ctime()) #ctime() : 미국사람이 읽기 쉬운 형태로 convert

25년 09월 11일(Thursday) 09:30:00
25년 09월 11일(Thursday) 09:30:00)
Thu Sep 11 09:30:00 2025

In [13]:
#지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%Y년 %m월 %d일 %p %I:%M:%S"))

2025-09-17 14:24:35.139501
Wed Sep 17 14:24:35 2025
2025년 09월 17일 PM 02:24:35

In [18]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 4:54:35.139501
6

## 7.2. 날짜

In [20]:
#특정한 날짜를 갖는 date 객체 생성
someday = date(2025, 9, 11) #datetime과 달리 시간 정보 저장 불가
someday

datetime.date(2025, 9, 11)

In [21]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025-09-11
2025년 09월 11일 00:00

In [23]:
#오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1==today2)

True

In [25]:
print(today1.strftime("%Y년 %m월 %d일 %H:%M"))
print(today2.strftime("%Y년 %m월 %d일 %H:%M"))

2025년 09월 17일 00:00
2025년 09월 17일 00:00

In [26]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3. 시간

In [27]:
#특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [30]:
#print(t.strftime("%Y년 %m월 %d일 %p %I:%M")) # 1900년 01월 01일 PM 02:39 1900년이 0이라서는 아니고, default
print(t.strftime("%p %I:%M"))

PM 02:39

In [31]:
#현재 시간
nowtime=datetime.now().time()
print(nowtime)

14:45:12.527428

# 8. 연습 문제

In [33]:
#1
name = "홍길동"
age = 23
print("{}님의 나이는 {}살입니다.".format(name,age))

홍길동님의 나이는 23살입니다.

In [22]:
#2
int1 = int(input("정수1 :"))
int2 = int(input("정수2 :"))
print('정수1 + 정수2 = ', int1 + int2)
print('정수1 - 정수2 = ', int1 - int2)
print('정수1 * 정수2 = ', int1 * int2)
if int2!=0:
    print('정수1 / 정수2 = ', int1 / int2)
    print('정수1 // 정수2 = ', int1 // int2)
    print('정수1 % 정수2 = ', int1 % int2)
else:
    print("0으로 나눌 수 없습니다.")

정수1 :5
정수2 :0
정수1 + 정수2 =  5
정수1 - 정수2 =  5
정수1 * 정수2 =  0
0으로 나눌 수 없습니다.

In [36]:
#3
temp = 'Hello World'
temp_list = temp.split()
print(temp_list[1], temp_list[0])

World Hello

In [40]:
#4
x='abcdef'
print(x[1:7], x[0], sep="")

bcdefa

In [43]:
#5
print(x[::-1])

fedcba

In [24]:
#6
C = float(input("오늘의 섭씨 온도 :"))
F = (C * 1.8) + 32
intF = int(F)

if F == intF:
    print("오늘의 화씨 온도는 {:d}℉입니다.".format(intF))
else:
    print("오늘의 화씨 온도는 {:.2f}℉입니다.".format(F))
      
#if F%1==0
#if F.is_integer()
#if f==round(f)

오늘의 섭씨 온도 :0
오늘의 화씨 온도는 32℉입니다.

In [19]:
c = int(input("섭씨 온도를 입력하세요"))
f = (c*1.8)+32

if f%1==0:
    print("입력하신 섭씨 {}도는 화씨온도 {:.0f}도입니다".format(c, f))
else:
    print("입력하신 섭씨 {}도는 화씨온도 {:.2f}도입니다".format(c, f))

섭씨 온도를 입력하세요1
입력하신 섭씨 1도는 화씨온도 33.80도입니다

In [15]:
#7
모두
1: for는 예약어, 2: 문자로 시작해야, 3: 마침표 사용 불가, 4:문자로 시작해야

In [16]:
#8
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [17]:
#9
모두 옳음

In [ ]:
#10
에러
x를 문자화해야

In [20]:
#11
str_ = "우리 나라 대한 민국"
str_split = str_.split()
print(str_split[1])

나라