In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:90%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:10px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font><b>
# 1. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1. 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 세팅
- **파이썬에서의 모든 변수는 객체로 저장**
    - 파이썬에서 변수는 실제 데이터를 담는 상자가 아니라, 메모리 어딘가에 존재하는 객체에 대한 참조(reference) 또는 포인터(pointer) 역할.
- 값과 자료형 동반 -> 5 할당 시 integer, 5.0 할당 시 float

In [2]:
r = 5
area = 3.14*r*r
print('넓이 :', area)

넓이 : 78.5

In [6]:
import numpy as np # numpy 패키지를 np라는 이름으로 사용
area = np.pi * r * r
print('넓이 :', area)

넓이 : 78.53981633974483

In [7]:
print('area의 주소: ', id(area))
print('area의 타입: ', type(area))

area의 주소:  1852446721872
area의 타입:  <class 'float'>

In [8]:
area.is_integer()

False

In [14]:
area = 10
print('area의 주소: ', id(area))
print('area의 타입: ', type(area))

area의 주소:  1852367700496
area의 타입:  <class 'int'>

In [15]:
area = "파이썬"
print('area의 주소: ', id(area))
print('area의 타입: ', type(area))

area의 주소:  1852488420880
area의 타입:  <class 'str'>

## 1.2. 변수(함수) 이름 규칙
- 문자로 시작
- 문자, 숫자와 _(특수문자는 _ 외 불가)로 변수명 작성 (*.a 방식 불가)
- 함수명을 변수명으로 사용 가능하나 피한다. 꼭 써야 한다면, str_ 식으로 변형해 사용한다.
- 파이썬 예약어(for, if, ...)는 변수명 사용 불가
- 한글 변수는 지정 가능하나, 꼭 필요 시에만 사용 (비추)

In [17]:
#member.name="홍길동" (에러)
member_name="홍길동"
memberName="홍길순"
print(member_name, memberName)

홍길동 홍길순

In [18]:
# 숫자 : 정수(integer), 실수(float), 복소수(complex)
i = 1 + 3j # 복소수. 허수 부분은 j로 표시
print(type(i))

<class 'complex'>

In [20]:
isinstance(i, complex) # isinstance(변수, 타입): i 변수가 complex 타입의 '객체'인지?

True

In [21]:
isinstance(i, int) # i 변수가 int 타입의 객체인지?

False

## 1.3. 다중 변수 선언

In [22]:
a, b = 10, 20
print(a, b, a+b)

10 20 30

In [23]:
a, b = b, a+b # 다중 변수 할당 시 순차적 할당이 아니고, 동시 일괄 할당
print(a, b)

20 30

## 1.4. 도움말

In [1]:
# help 빠져나오기: q / 결과 접고펴기: Esc + o
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
# 도움말 기능: Shift + Tab 키 (Tab을 두 번 연속으로 누르면 자동확장)
print()

In [4]:
def add(x, y=0):
    '''
    매개변수(x,y) 2개를 받아 두 자리 숫자로 만드는 함수
    x는 10의 자리수가 되고,
    y는 1의 자리수가 됨 (y default값 0)
    ''' # 도움말 설정 # 따옴표 세 쌍으로 여러 줄 작성.
    return x*10 + y

In [5]:
add(3, 4)

34

In [6]:
add(3)

30

# 2. 화면 입출력(i/o)

In [9]:
#input(): 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음.
first = input()
print(first)

임의값
임의값

In [23]:
first = input('첫 번째 숫자는? ')
second = input('두 번째 숫자는? ')

첫 번째 숫자는? 8
두 번째 숫자는? 2

In [24]:
print(first, second)
print(first+second)

8 2
82

In [25]:
print(int(first)+int(second))

10

In [26]:
first = int(input('첫 번째 숫자는? '))
second = int(input('두 번째 숫자는? '))

첫 번째 숫자는? 8
두 번째 숫자는? 2

In [29]:
print(first, second)
print('두 수의 합은 ', first+second)

8 2
두 수의 합은  10

In [30]:
whos

Variable   Type        Data/Info
--------------------------------
add        function    <function add at 0x000001955DF18430>
first      int         8
second     int         2

In [38]:
print('first', first, 'second', second, sep=' - ')
print('Hello', 'Python', end='\t')
print('Hello', 'Python', sep=' + ', end=' ! ')
# sep= 구분. default는 sep=' '
# end= 마침. default는 end= \n
# \t : tab

first - 8 - second - 2
Hello Python	Hello + Python !

# 3. 기본 자료형
- 자료형이란: 변수가 가져야 할 값의 형식. 자료형에 따라 값의 크기와 저장 방식이 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
- 한 변수에 저장 가능한 타입 (one of below)
    - 숫자: int, float, complex
    - 문자: str("", '')
    - 논리: bool(True/False)

## 3.1. 숫자형

In [39]:
import sys
print(sys.maxsize) # 시스템 내 정수의 최대값 / 단위 최대값으로 이해. 더 큰 수도 무한히 다룰 수 있음.

9223372036854775807

In [44]:
i = sys.maxsize + 10**18
print(i)
print(type(i))

10223372036854775807
<class 'int'>

In [50]:
a1=10**-10
a2=0.00000012
print(a1, a2)

1e-10 1.2e-07

In [72]:
# 파이썬에서는 /의 결과는 무조건 실수
# JAVA, C에서는 정수 연산 정수 결과는 정수로만 처리
f1 = 3/2
f2 = 4/2
f1i, f2i = (int(f1), int(f2))
print('f1= ', f1, ', f2= ', f2)
print('f1i= ', f1i, ', f2i= ', f2i)

f1=  1.5 , f2=  2.0
f1i=  1 , f2i=  2

In [58]:
# int는 반올림 아닌 내림
# 몫 연산자 //
f=3//2
print('f= ', f)

f=  1

## 3.2. 문자형
- 겹따옴표("~")나 홑따옴표('~') 이용

In [61]:
# 홍길동'짱' 출력 원할 때

#name = '홍길동'짱'' #에러 발생
#name = '홍길동\'짱\''
name = "홍길동'짱'" #다른 종류 따옴표로 감싸면 됨
address = '서울시 관악구 "신림"동'
print(name, address)

홍길동'짱' 서울시 관악구 "신림"동

In [68]:
#escape 문자(탈출문자) : \n \t \r
text = '여러 줄 짜리 내용을 저장\n줄바꿈 문자를 써서\t작성'
print(text)

여러 줄 짜리 내용을 저장
줄바꿈 문자를 써서	작성

In [69]:
text='''여러 줄 짜리 내용을 작성
줄바꿈 문자를 써서\t작성'''
print(text)

여러 줄 짜리 내용을 작성
줄바꿈 문자를 써서	작성

### ※ 문자열 연산 (+, *)

In [79]:
"""
    여러 줄 주석 용도로도 사용
    2025.09.12 문자열 연산 by 아무개
    이런 거 저런 거 유의 사항 등등
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1+name2)
print(name1,name2)
print(name1*3)

홍길동동해번쩍
홍길동 동해번쩍
홍길동홍길동홍길동

### ※ Raw 데이터
- 용도: 정규표현식 이용, 디렉토리 경로를 표현 시 이용
- 정규표현식(regular expression): 특정한 규칙을 가진 문자열의 집합을 표현하는 데 사용하는 형식 언어

In [80]:
print('Hello\nWorld')

Hello
World

In [81]:
# Raw Data: 데이터 처리 시 Escape 문자(\n, \t, \', \", \r)를 그대로 저장 및 처리
print(r'Hello\nWorld')

Hello\nWorld

정규표현식(regex) 문법
'''
    1. <참조> 위키백과 https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D
    2. 간략문법
        \d : 숫자와 매치. [0-9]와 동일
        \D : 숫자가 아닌 것
        \w : 영문자나 숫자[a-zA-Z0-9]와 동일
        \W : 영문자나 숫자가 아닌 문자
        . : 문자
        \. : . (마침표)
        \- : - (하이픈)
        {2,} : 2번 이상 반복
        {2, 4} : 2~4회 반복
        ? : 0회 또는 1회
        + : 1회 이상 반복
        * : 0회 이상 반복
    3. regex 연습장 https://regexr.com/
           ex1. 전화번호 : 02 888 7777 / 02)888-7777 / 028887777 / 010-9999-9999 / 010.9999.8888
               -> 0(10|2|\d{2})[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
               -> 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
           ex2. Email : abc12@naver.com / abc12@sns.co.kr
               -> \w+@\w+\.\w+(\.\w+)? 
               -> \w+@\w+(\.\w+){1,2}
           ex3. 주민등록번호 : 901230-1234567
               -> \d{2}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|30|31)(\-| |\.)[1-4]\d{6}
    4. 소스 구현'''

In [84]:
import re
data = "이름: 홍길동, 주소: 서울, 전화: 02-123-4567, \
핸드폰: 010-9999-1111, 특징: 동해번쩍 서해번쩍\
혈액형: Bㅋㅋ ㅋㅋzz"
print(data)

이름: 홍길동, 주소: 서울, 전화: 02-123-4567, 핸드폰: 010-9999-1111, 특징: 동해번쩍 서해번쩍혈액형: Bㅋㅋ ㅋㅋzz

In [91]:
# 정규표현식 처리에서는 raw data 처리하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도로 raw data 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}" #전화번호 regex
tels = re.findall(tel_pattern, data) # data에서 tel_pattern을 모두 색인. 없으면 빈 list 반환
tels

['02-123-4567', '010-9999-1111']

In [92]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [93]:
# 정규표현식 패턴과 처음 match되는 것을 색인
firstTel = re.search(tel_pattern, data)
firstTel

In [95]:
print(data[21:32]) #문자열 슬라이싱 21부터 32 '앞'까지
print(firstTel.group(0))

02-123-4567
02-123-4567

In [96]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [97]:
print('전체 전화번호: ', firstPhone.group(0))
print('국번: ', firstPhone.group(1))
print('중간 번호: ', firstPhone.group(2))
print('끝 번호: ', firstPhone.group(3))

전체 전화번호:  02-123-4567
국번:  02
중간 번호:  123
끝 번호:  4567

In [98]:
# 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", ' ', data) 
# \s : space 
# 한글, 숫자, 영문 대문자, 여백 제외 모두 삭제

'이름  홍길동  주소  서울  전화  02 123 4567  핸드폰  010 9999 1111  특징  동해번쩍 서해번쩍혈액형  B       '