In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:90%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:10px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터구조</font><b>
- 리스트[80,99], 튜플(99,20), 딕셔너리{"name":"홍","score":"99}, 셋{10,20}

# 1. 리스트
## 1.1. 리스트 만들기
- [대괄호]를 이용해 만들며, 여러 개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(함수) 사용 가능 (다른 자료형을 리스트로)
- 인덱스(각 요소의 위치, 0부터 시작해 맨 마지막은 -1) 사용 가능
- 슬라이싱[from:to:step] 사용해 부분 데이터셋 추출 가능
- 인덱싱과 슬라이싱 이용해 쓰기와 읽기 지원

In [2]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
fruits[0] #인덱싱 이용한 읽기
#print(fruits[4]) #없는 인덱싱 명령 시 에러

['banana', 'apple', 'orange', 'grape']

'banana'

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

x=mango
y=apple
z=orange

In [10]:
#range(from, to, by): from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
    #숫자를 순차적으로 사용할 수 있게
    #from 생략 시 0, by 생략 시 1, to는 생략할 수 없음
range(10) #[0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [17]:
#for i in [0,1,2,3,4,5]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [21]:
fruits = ['mango', 'apple', 'orange']
#print("{}번째 과일은 {}".format(0, fruits[0]))
#print("{}번째 과일은 {}".format(1, fruits[1]))
#print("{}번째 과일은 {}".format(2, fruits[2]))
#for i in range(3):
for i in range(len(fruits)): #len(리스트변수): 데이터 개수
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [25]:
list(enumerate(fruits))
#1 : to ascertain the number of : count
#2 : to specify one after another : list

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [27]:
#for 변수이름 in range(len(fruits)):
for i, fruit in enumerate(fruits) : #[(0, 'mango'), (1, 'apple'), (2, 'orange')]
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [29]:
for fruit in fruits: #['mango', 'apple', 'orange']
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다

In [35]:
#리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3,4], (5,6)]
numbers[2], numbers[3][1]

('2', 3)

In [38]:
#2차원 리스트
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5],
              [10,20,30,40,50],
              [1,3,5,7,9],
              [2,4,6,8,10]]
print(numbers_2d)
#특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

50

In [41]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [46]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print('')

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [49]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [50]:
for i in range(len(numbers_2d)): #i: 행
    for j in range(len(numbers_2d[i])): #j: 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print() #줄바꿈

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [51]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [52]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2. 기본 정보 조회

In [53]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100,0,1],
             [9,100,100],
             [59,100,130]]

In [54]:
#item수
len(numbers), len(numbers_2d)

(5, 3)

In [58]:
#최소값 min 최대값 max
#부분 리스트 중 첫 번째 item으로 비교
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [59]:
#list 데이터가 문자일 경우 ASCII 코드 값으로 min/max 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [64]:
#정렬하기 
numbers = [1, 12, 3, 4, 5] #동일 자료형 간 정렬 가능
print("오름차순 정렬 :", sorted(numbers)) 
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용 시 리스트 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용 시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3. 요소 추가
- +: 두 리스트 연결
- *: 리스트를 곱한 수 만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(list) : 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx 번째 인덱스 위치에 값 추가

In [65]:
numbers = [1, 2, 3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [66]:
numbers = [1, 2, 3]
print(numbers*3) #곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [68]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [69]:
numbers.append([5,6,7])
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [70]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
numbers

[1, 2, 3, 4, 5, 6]

In [71]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [72]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [73]:
lst.extend('hello') #문자열의 각 문자를 추가
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [74]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4. 인덱싱과 요소 개수
- list변수[index] : 인덱스를 이용한 접근
- index(타깃데이터) : 해당 타깃데이터가 있는 요소의 index를 반환
- 타깃데이터 in list변수 : 타깃데이터가 list변수의 요소인지 여부 (없는 데이터 인덱싱할 때 에러 발생하므로)
- count(타깃데이터) : 리스트에서 해당 타깃데이터의 개수 반환

In [77]:
numbers = [1,2,3, [1,2,3], 1,2,3,]
numbers.count(1), numbers.count([1,2,3])

(2, 1)

In [78]:
numbers.count(5)

0

In [79]:
print(2 in numbers) #numbers 요소 중 2가 있는지 여부
print(5 in numbers) #numbers 요소 중 5가 있는지 여부

True
False

In [81]:
#numbers.index(5) #에러
if 5 in numbers: #if True
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [82]:
if numbers.count(5): #if not 0
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [83]:
#안전한 index 함수 정의
def safe_index(lst, item):
    '''If the item is in the the lst, returns the index of item.
    If the item is not in the lst, returns -1.'''
    if item in lst:
        return lst.index(item)
    return -1 #else 안 써도 됨. false라면 위의 return이 실행되지 않으니, 바로 아래 return으로 넘어감.

In [85]:
safe_index(numbers, 5)

-1

In [4]:
from lst import safe_index #lst.py 모듈 안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers, 3), safe_index(numbers, 4)

(2, -1)

In [5]:
#numbers[5] #벗어난 인덱스로 인덱싱 시 에러
numbers[2:5] #벗어난 인덱스로 슬라이싱 시 에러 X

[3]

## 1.5. 원하는 요소 추출

1. 리스트 슬라이싱: 
    - [from:to:step] from 번째부터 to 앞까지 step씩 증가하는 index 값 추출
    
        *from 생략시 처음, to 생략 시 끝, step 생략 시 1*
    - 인덱스의 범위를 벗어난 값도 에러 나지 않음
    - 인덱스는 음수도 가능(마지막부터 역순)
    
2. <b>리스트 컴프리헨션:</b>
    - 원하는 조건의 데이터 추출

In [11]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[0::2]) #짝수 번째 index 값 출력
print(numbers[2:100]) #인덱스 범위 벗어난 슬라이싱 가능
print(numbers[-1::-2])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]
[20, 18, 12, 9, 3]

In [14]:
#모든 데이터 추출
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers] #list화

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [16]:
#짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end='\t')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [17]:
#ex.1 numbers에서 10 이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [18]:
#ex.2 fruits에서 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [19]:
#ex.2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [20]:
#ex.3 3 이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [21]:
#ex.4 리스트 요소의 값의 2배를 추출 (리스트 변수)
[2*l for l in L]

[2, 4, 6, 8, 10]

## 1.6. 요소 수정하기
- 인덱싱, 슬라이싱을 이용해 수정

In [22]:
#인덱싱을 이용하여 개별 요소 수정
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 22
numbers

[0, 1, 22, 3, 4, 5, 6, 7, 8, 9]

In [23]:
#슬라이싱(step 부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx']
numbers

['xx', 'xx', 'xx', 'xx', 22, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#슬라이싱(step 부분 포함)을 이용하여 부분 수정 시 요소 개수가 일치해야
numbers = [0]*10
print('수정 전: ',numbers)
numbers[0::2] = [7, 7, 7, 7, 7]
print('수정 후: ',numbers)

수정 전:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후:  [7, 0, 7, 0, 7, 0, 7, 0, 7, 0]

## 1.7. 요소 삭제하기
- pop() : 가장 마지막 인덱스의 요소를 반환하고 삭제
- pop(idx) : idx번째 요소를 반환하고 삭제
- remove(data) : list 안의 data를 삭제 (반환x)
- del list변수[idx] : idx 번째 요소 삭제 (반환x)

In [42]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]

In [43]:
print("삭제한 데이터 :", numbers.pop(1))
print("삭제 후 numbers :", numbers)

삭제한 데이터 : 2
삭제 후 numbers : [1, 3, 4]

In [44]:
numbers.remove(1)
print("데이터1 삭제 후 numbers :", numbers)

데이터1 삭제 후 numbers : [3, 4]

In [45]:
del numbers[0]
print("0번째 요소 삭제 후 numbers: ", numbers)

0번째 요소 삭제 후 numbers:  [4]

In [46]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다.')

해당 데이터는 없는 item입니다.

In [47]:
numbers.clear() #numbers의 모든 요소를 삭제 != del numbers
numbers

[]

## 1.8. 정렬하기

In [49]:
numbers = [9, 5, 0, 8, 6]
print("리스트는 정렬하지 않고, 출력 결과만 정렬 :", sorted(numbers))
print("numbers: ", numbers)

리스트는 정렬하지 않고, 출력 결과만 정렬 : [0, 5, 6, 8, 9]
numbers:  [9, 5, 0, 8, 6]

In [50]:
numbers.sort() #반환 값 없이, numbers 리스트 순서 정렬
numbers

[0, 5, 6, 8, 9]

In [51]:
numbers.sort(reverse=True) #내림차순 (default는 오름차순)
numbers

[9, 8, 6, 5, 0]

In [52]:
numbers.reverse #리스트를 역순으로 변경
#numbers=numbers[::-1]
numbers

[9, 8, 6, 5, 0]

## 1.9. 리스트 복제

In [54]:
#스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본 i = {i}, 복사본 cp_i = {cp_i} / 원본 주소 = {id(i)}, 복사본 주소 = {id(cp_i)}")
cp_i = 99
print(f"원본 i = {i}, 복사본 cp_i = {cp_i} / 원본 주소 = {id(i)}, 복사본 주소 = {id(cp_i)}")

원본 i = 10, 복사본 cp_i = 10 / 원본 주소 = 2228964688400, 복사본 주소 = 2228964688400
원본 i = 10, 복사본 cp_i = 99 / 원본 주소 = 2228964688400, 복사본 주소 = 2228964691248

In [55]:
#데이터 구조의 할당 (not 복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers #할당
print('원본 주소 :', id(numbers))
print('복제본 주소: ', id(new_numbers))

원본 주소 : 2229075214912
복제본 주소:  2229075214912

In [58]:
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소: ', id(new_numbers))

원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 2229075214912
복제본 주소:  2229075214912

In [66]:
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소: ', id(new_numbers))

원본 내용 : [1, 5, 6, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 2229078322624
복제본 주소:  2229078322624

In [68]:
#리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() #numbers를 복제(깊은 복사), 주소가 다름
new_numbers.sort(reverse=True) #내림차순 정렬
print('원본 :', numbers)
print('복제본 :', new_numbers)
print('원본주소 :', id(numbers))
print('복제본주소 :', id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본주소 : 2229078310016
복제본주소 : 2229078310976

In [69]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print("정렬 전: ", city)
print("정렬 후: ", temp)

정렬 전:  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후:  ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [70]:
temp.clear()
print("정렬 전: ", city)
print("정렬 후: ", temp)

정렬 전:  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후:  []

# 2. 튜플
- 리스트([])와 유사하지만 읽기 전용. 수정이 필요 없는 데이터에서 사용
- 수정이 불가하므로, 데이터 수정/추가/삭제 불가
- 제공되는 함수도 많지 않음

In [72]:
city = ('서울', '대전', '대구', '부산', '하남')
#파이썬은 여러 개의 값이 전달될 때 튜플 타입으로 전달
#city = '서울', '대전', '대구', '부산', '하남' #요거와 같아 #a,b=1,2 이것도
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [77]:
#매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
", ".join(city)

'서울, 대전, 대구, 부산, 하남'

In [78]:
from lst import safe_index
safe_index(city, '대전')

1

In [79]:
l = ['서울'] #요소가 하나 있는 list
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [81]:
city = ('서울') #요소가 하나 있는 tuple 의도, 그러나!
print(type(city)) #str 타입이 됨
print(city) #괄호 없이 텍스트로 출력
print(len(city)) #글자수 출력

<class 'str'>
서울
2

In [83]:
city = ('서울',) #요소가 하나 있는 tuple로 인식
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [84]:
numbers = (1, 2, 3)
#numbers.append(4) 수정하기 위한 함수는 제공되지 않음
#extends, remove 등등도 안 됨
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [85]:
numbers.count(2), numbers.index(3)

(1, 2)

In [88]:
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [89]:
safe_index(numbers, 4)

-1

In [1]:
numbers = (1, 4, 3, 2)
if 4 in numbers[2:]:
    numbers.index(4, 2) # index(찾을 데이터, 찾기 시작할 index=0)
else:
    print("데이터가 없습니다")

데이터가 없습니다

In [3]:
def safe_index(lst, item, start=0):
    """
    첫 번째 매개변수 lst : 리스트, 튜플
    두 번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세 번째 매개변수 start : 몇 번째 index부터 찾을지 index 수(기본값:0)
    """
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     else:
#         return -1

In [4]:
safe_index(numbers, 4)

1

In [5]:
#위의 if문을 조건식을 이용하여 한 줄 코드
def diff(x, y):
    return x-y if x>y else y-x # if문이 참일 때 값 if 조건 else if문 거짓일 때 값
#if x>y:
    #return x-y
#else:
    #return y-x
diff(10, 20)

10

In [6]:
numbers = (1, 2, 3)
print(numbers + numbers)  #연결
print(3 * numbers) #반복
print(numbers * 3) #반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [7]:
#ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11, 2, 3, 4, 5, 6)
tuple(num**2 for num in numbers if num%2==0)

(4, 16, 36)

# 3. 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함). 키에 list는 사용 불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안 함

In [8]:
dic = {'name':'홍길동', 1:22, (1, 2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [9]:
len(dic) #데이터 요소의 갯수

3

In [10]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [11]:
#변수[키] / 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [12]:
#print(my_favorite['people']) #키목록에 없는 데이터를 참조 시 에러
print(my_favorite.get('people')) #없는 키를 get함수로 참조 시 None
print(my_favorite.get('people', '-')) #없는 키를 get함수로 참조 시 '-'

None
-

## 3.1. 수정, 추가, 삭제

In [13]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
# 한 item씩 추가
my_favorite['people'] = '홍길동'
print('people 추가후 :', my_favorite)
# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학', 'major':'AI'})
print('한꺼번에 추가후 :', my_favorite)

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)
# 여러 item을 한꺼번 수정
# my_favorite.update({'fruit':'kiwi', 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print("한꺼번에 수정 후 :", my_favorite)
# item 제거(1)
del my_favorite['subject'] # subject item 제거
if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키가 존재하지 않습니다')
print("del 제거(1) 후 :", my_favorite)
# item 제거(2)
print('제거한 데이터 :', my_favorite.pop('major')) # major키 값을 반환하고 제거
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

people 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동'}
한꺼번에 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
subject 키가 존재하지 않습니다
del 제거(1) 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 : AI
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

## 3.2. 출력

In [14]:
#for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [15]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print("{}번째 : {}".format(idx, my_tuple[idx]), end="\t")
    #print(idx,"번째 : ", my_tuple[idx], sep='', end='\t')
print() # 개행
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [16]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-999'}

In [17]:
for key in my_dic: # 비추
    print("{} : {}".format(key, my_dic[key]), end="\t")

name : 홍길동	age : 30	tel : 010-9999-999

In [18]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [19]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-999'])

In [20]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-999')])

In [21]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end="\t")

name:홍길동	age:30	tel:010-9999-999

In [22]:
for value in my_dic.values():
    print(value, end="\t")

홍길동	30	010-9999-999

In [23]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-999'))]

In [24]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}. {} : {}".format(no+1, key, value))

1. name : 홍길동
2. age : 30
3. tel : 010-9999-999

## 3.3. in 연산자

In [25]:
#tuple, list, set
t = (10, 20, 30)
30 in t # list, tuple, set에서의 in연산자 : 요소(데이터, item)가 있는지 여부 반환

True

In [26]:
#dictionary
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in연산자 : key가 있는지 여부 반환

False

In [27]:
'홍길동' in dic.values()

True

## 3.4. 복제

In [28]:
#할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

my_favorite 주소 : 1413834829248
new_favorite 주소 : 1413834829248

In [29]:
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = "홍길동"
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [30]:
#복제(깊은 복사)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = "홍길동"
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

my_favorite 주소 : 1413834351680
new_favorite 주소 : 1413835087872
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4. 셋
- 중복을 허용하지 않는 집합(순서X)
- {}나 set()함수를 이용해서 셋 생성 ex. set([1, 2, 1]), set({'name':'홍길동'})
- 추가 : add(), update()
- 삭제 : remove()
- 집합연산자 : &교집합, |합집합, -차집합

In [31]:
fruits = {'banana', 'orange', 'apple', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [32]:
s1 = set([1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
s1

{1, 2, 3}

In [33]:
s1 = set((1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1))
s1

{1, 2, 3}

In [34]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 4.1. 추가
- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic, set유형은 add()함수 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dict사용시 key만 추가 cf list의 extend()

In [35]:
s = {1, 2, 3}
s.add((6,7))
s.add(4)
s.add('오')
print("add() 후 :", s)

add() 후 : {1, 2, 3, 4, '오', (6, 7)}

In [36]:
#1이 set에 있는 상태에서 True 추가
s = {1, 2, 3, 1, 1}
s.add(True)
print("True add후 :", s)

True add후 : {1, 2, 3}

In [37]:
#0이 set에 있는 상태에서 False 추가
s = {False, 1, 2}
s.add(0)
print("0 add 후 :", s)

0 add 후 : {False, 1, 2}

In [38]:
# 0이 set에 있는 상태에서 False 추가
s = {False, 1, 2}
s.add(0)
print("0 add 후 :", s)

0 add 후 : {False, 1, 2}

## 4.2. 삭제

In [39]:
s = {1, 2, 3, 1, 1}
s.remove(2)
s

{1, 3}

In [40]:
# 없는 요소를 삭제할 경우 에러
if 5 in s:
    s.remove(5)
else:
    print("해당 데이터는 없습니다")

해당 데이터는 없습니다

## 4.3. 집합 연산자
&(교집합), |(합집합), -(차집합)

In [41]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print("s1 =", s1)
print("s2 =", s2)
print("s1&s2 =", s1&s2)
print("s1|s2 =", s1|s2)
print("s1-s2 =", s1-s2)
print("s2-s1 =", s2-s1)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}
s2-s1 = {6, 7}

In [42]:
names = {'길동', "길숙", "길자"}
for name in names:
    print(name)

길숙
길자
길동

# 5. enumerate
- 반복자. 반복문을 처리할 때 사용할 순서 객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용 시

In [43]:
list(enumerate(names))

[(0, '길숙'), (1, '길자'), (2, '길동')]

In [44]:
for no, name in enumerate(names):
    print("{}. {}".format(no+1, name))

1. 길숙
2. 길자
3. 길동

In [45]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [46]:
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx+1, 
                          names[idx], 
                          tels[idx],
                          adds[idx]))

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [47]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [48]:
for name, tel, add in zip(names, tels, adds):
    print(f"{name}님의 연락처는 {tel}이고, {add} 살아요")

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [49]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-7777', '하남'))]

In [50]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    # print(f"{idx}. {name}님의 연락처는 {tel}이고, {add} 살아요")
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx, name, tel, add))

0. 길동님의 연락처는 02-999-9999이고, 서울 살아요
1. 길자님의 연락처는 02-888-8888이고, 판교 살아요
2. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [51]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [52]:
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1, 'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6. 연습문제

## 실습형 연습문제

In [54]:
numbers = [1,2,3,4,5,6,7,8,9,10]
# 1.숫자 100을 맨뒤에 추가
numbers.append(100)
print('1번 결과 :',numbers)

# 2. 다음 리스트를 numbers 리스트 맨뒤에 추가
data = [200,300,400,500]
# numbers.extend(data)
numbers += data
print('2번 결과 :',numbers)

# 3. 처음 다섯개 숫자만 출력(0~4번 index까지)
print('3번 결과 :',numbers[:5])

# 4. 짝수번째 데이터만 출력
print('4번 결과 :', numbers[::2])

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5]
4번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]

In [55]:
# 5. 짝수번째 데이터를 모두 0으로 바꿔
numbers[1::2] = [0] * len(numbers[1::2])
print('5번 후 결과 :', numbers)
# 5-1. 짝수번째 데이터를 모두 0으로 바꾸는게 아니고 출력만 하려면
print('5번 출력만 :',
      [numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))])

# 6. 데이터를 역순(sort가 아니고 단순 역순)으로 나열
print('6번 결과 :', numbers[::-1])
# numbers.reverse()
# print('6번 결과 :', numbers)

5번 후 결과 : [1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]
5번 출력만 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
6번 결과 : [500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [56]:
member = {'name':"홍길동","age":20,"address":"서울시 마포구", 'score':90}
# 7번 address값 출력
print('7번 결과 :', member['address']) # 비추
print('7번 결과 :', member.get('address')) # 추천
                # ★-------------------★ #
    
# 8 score를 출력하고 딕셔너리에서 삭제 방법1# 5. 짝수번째 데이터를 모두 0으로 바꿔
if 'score' in member:
    # print(member['score'])
    # del member['score'] del은 삭제만 되고 pop는 출력되고 삭제됨
    print('8번 score 삭제 ', member.pop('score'))
    print('8번 삭제 확인 : ', member)
else:
    print("score 키가 없습니다")
#9. address변경
member['address'] ='서울시 서대문구'
print('9번 확인 :', member)
# 10 데이터 값만 리스트로 출력
print('10번 결과 :',list(member.values()))

7번 결과 : 서울시 마포구
7번 결과 : 서울시 마포구
8번 score 삭제  90
8번 삭제 확인 :  {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
9번 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}
10번 결과 : ['홍길동', 20, '서울시 서대문구']

## 서술형 연습문제

In [57]:
# 1 다음 코드를 실행했을 때 출력되는 것은?
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i)>5] # 리스트컴프리헨션
print(new_list)

['orange', 'banana']

In [58]:
# 2다음 코드와 실행결과가 잘못 짝지어진 것은? (3)
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
# 3. 다음 구문에 의해 출력되는 것은? 1
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [60]:
# 4 extend
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
      #────────#
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [61]:
# 5. 다음 구문을 실행할 때 결과는 ? [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
                #─────────────────────────#
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [62]:
# 6. 다음 구문을 실행할 때 결과는 ?
numbers = [0,1,2,3,4,5,6,7,8,9]
                    #─────────#
numbers[ : : 2]= numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [63]:
# 7. 다음 구문을 실행할 때 결과는 ?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [64]:
# 8. 다음 데이터에서 10을 출력할 수 없는 구문은? (1) my_dic[0]
my_dic = {"a":10, "b":20, "c":30}
print(my_dic['a']) # (2)
print(list(my_dic.items())[0][1]) # (3)
print(list(my_dic.values())[0]) # (4)
print(my_dic.get('a')) # (5)

10
10
10
10

In [65]:
# 9. 다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange']
x, y, z = fruits
print(x) 
print(y) 
print(z)

apple
banana
orange

In [66]:
# 10. 다음 프로그램의 결과를 출력하시오
fruits = ['apple','banana','orange']
print(len(fruits))

3

In [67]:
# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는? def

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
style="float:left"
width="500">