In [8]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:90%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:10px;}
</style>
"""))

<b><font size="6" color="red">Ch 5. 함수</font><b>
- 반복해서 사용할 코드(들)를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의

```
def 함수명([매개변수1, 매개변수2, ..]): 
    명령어1
    명령어2
    ...
```
# 1. 함수의 정의 및 사용
## 1.1. 함수 정의

In [4]:
#msg를 x번 출력하는 함수 정의
def my_message(x, msg):
    for i in range(x):
        print(i, msg)

In [5]:
#함수 사용
my_message(2, "반가워")

0 반가워
1 반가워

In [6]:
#함수 이름 변경(복사)
my_msg = my_message
my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [7]:
type(my_message), type(my_msg)

(function, function)

In [13]:
print('Hello') #파이썬 내장 함수(import 하지 않고 사용할 수 있는)
print = 5
#print('Hello') → Error
del print #심볼 테이블에서 메모리 삭제
print('Hello')

Hello
Hello

* **전역(global) 심볼 테이블**: 모듈(파일)의 최상단에서 정의된 변수, 함수, 클래스 등의 이름을 저장합니다. 파이썬 프로그램이 시작될 때 생성되어 프로그램이 종료될 때까지 유지됩니다. globals() 내장 함수를 통해 이 테이블의 내용을 확인할 수 있습니다.
* **지역(local) 심볼 테이블**: 함수가 호출될 때마다 생성되며, 그 함수 내에서 정의된 변수들의 이름을 저장합니다. 함수 실행이 끝나면 사라지므로, 지역 변수는 함수 외부에서 접근할 수 없습니다. locals() 내장 함수를 통해 현재 함수의 지역 심볼 테이블을 확인할 수 있습니다.

In [11]:
del my_message #전역 심볼 테이블에서 삭제
my_message(2, 'Hello') #Error! 사용자 정의 함수, 라이브러리 함수는 del하여도 사용 불가

NameError: name 'my_message' is not defined

In [14]:
#함수의 중복 정의(오버로딩) → 불가!
def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): #cnt회 출력 경우 정의. #2~4열 정의 함수를 덮어씀
    for i in range(cnt):
        print('Hello, Python', end="\t")
        print('Hello, World')
#타 언어에서는 중복 정의하는 경우가 있으나, 파이썬에서는 불가함

In [19]:
#my_hello()
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [20]:
my_hello

In [21]:
__name__

'__main__'

In [23]:
if __name__ == '__main__':
    #'여기서 정의한 걸 여기서 실행한 거야?'라고 묻는 의미
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
import ch05 #ch05 모듈이 해석돼서 메모리 로드

In [4]:
ch05.my_hello(2)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World

In [5]:
from ch05 import my_hello #my_hello만 메모리 로드
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2. docstring

In [10]:
def my_function():
    """
    함수의 첫 라인에 독스트링('or" 세 쌍)을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아 주는 역할
    주석보다 많은 기능(함수 호출 시 shft+tab^2으로 독스트링 볼 수 있음)
    #주석은 shft+tab^2 사용 시 볼 수 없음
    """
    pass

In [11]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링('or" 세 쌍)을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아 주는 역할
    주석보다 많은 기능(함수 호출 시 shft+tab^2으로 독스트링 볼 수 있음)
    #주석은 shft+tab^2 사용 시 볼 수 없음

In [12]:
def fibonacci(n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10: 0 1 1 2 3 5 8
        n=100: 0 1 1 2 3 5 8 13 21 34 55 89
    """
    a, b = 0, 1 #함수 내에 선언한 변수: 지역 변수(↔전역 변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() #줄바꿈

In [14]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [15]:
a, b #지역 변수는 함수 내에서만 사용 가능

NameError: name 'a' is not defined

## 1.3. 지역 변수(local var)와 전역 변수(global var)

In [16]:
global_var = 100
def func1():
    print('함수 안: ', global_var)
func1()
print('함수 밖: ', global_var)

함수 안:  100
함수 밖:  100

In [17]:
def func2():
    local_var = 200 #지역 변수(함수 내에서 할당)
    print('함수 안: ', local_var)
func2()
print('함수 밖: ', local_var)

함수 안:  200

NameError: name 'local_var' is not defined

In [19]:
g_var = 100 #전역 변수 할당(전역 심볼 테이블에 저장)
def func3():
    g_var = 200 #지역 변수 할당(지역 심볼 테이블에 저장)
    print('지역변수 g_var: ', g_var)
func3()
print('전역변수 g_var: ', g_var)

지역변수 g_var:  200
전역변수 g_var:  100

In [20]:
#렉시컬 특성: 변수가 어디서 선언되었는지에 따라 변수의 범위(지역/전역)가 정해짐
g_var = 100
def func3():
    print('지역변수 g_var: ', g_var) #Error! g_var 로컬에 안 잡혀 있는데 호출되므로
    g_var = 200
func3() 
print('전역변수 g_var: ', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [21]:
#렉시컬 특성
g_var = 100
def func3():
    global g_var #이 함수 내에서 g_var는 전역 변수라 선언
    print('전역변수 g_var: ', g_var) #Error! g_var 로컬에 안 잡혀 있는데 호출되므로
    g_var = 200 #전역변수 g_var에 200 할당 
func3() 
print('전역변수 g_var: ', g_var)

전역변수 g_var:  100
전역변수 g_var:  200

In [23]:
#렉시컬 특성
g_var = 100
def func3():
    global g_var #이 함수 내에서 g_var는 전역 변수라 선언
    print('전역변수 g_var: ', g_var) #Error! g_var 로컬에 안 잡혀 있는데 호출되므로
    g_var = 200 #전역변수 g_var에 200 할당 
func3() 
print('전역변수 g_var: ', g_var)

전역변수 g_var:  200
전역변수 g_var:  200

## 1.4. 값에 의한 호출
(↔참조에 의한 호출)
- 함수에 인수로 전달되는 변수가 스칼라 변수(단일 문자형, 숫자형, 논리형 데이터)일 때

In [24]:
foo = 'a' #전역 변수
id(foo)

1193214109488

In [25]:
def func1(f): #매개 변수는 지역 변수임
    print('Before: ', f, '의 주소는 ', id(f))
    f = f*3
    print('After: ', f, '의 주소는 ', id(f))
func1(foo)

Before:  a 의 주소는  1193214109488
After:  aaa 의 주소는  1193325462832

In [26]:
print('foo = ', foo, '의 주소는', id(foo))

foo =  a 의 주소는 1193214109488

## 1.5. 참조에 의한 호출
(↔값에 의한 호출)
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 때

In [27]:
L=[1,2,3,4,5]
id(L)

1193325821824

In [28]:
def func2(l): #매개 변수는 늘 지역 변수임
    print('Before: ', l, '의 주소는 ', id(l))
    l.append(6)
    print('After: ', l, '의 주소는 ', id(l))
func2(L)

Before:  [1, 2, 3, 4, 5] 의 주소는  1193325821824
After:  [1, 2, 3, 4, 5, 6] 의 주소는  1193325821824

In [29]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 1193325821824

# 2. 함수의 실행 결과를 반환하는 return문

In [30]:
def fibonacci_print(n): #재정의
    "매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수"
    a, b = 0, 1 #함수 내에 선언한 변수: 지역 변수(↔전역 변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() #줄바꿈
def fibonacci(n):
    "n 미만의 피보나치 수열을 리스트로 return"
    result = [] #피보나치 수열을 append 할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) #리스트에 append(추가)
        a, b = b, a+b
    return result

In [33]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [34]:
x = fibonacci_print(10)
print('x= ',x)
print(type(x))

0 1 1 2 3 5 8
x=  None
<class 'NoneType'>

### 여러 개 값 return
- 여러 개 값을 갖는 튜플로 return
- 결국 return에는 한 데이터가 들어가는 셈

In [36]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a #자동적으로 tuple로 바뀜 #return(b,a)

In [37]:
x = 5; y = 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

함수 실행 전 x, y = 5 10
함수 실행 후 x, y = 10 5

# 3. 함수 매개변수
## 3.1. 기본 값을 갖는 매개변수

In [38]:
def make_url(ip, port=80): #순서인수 > 기본 값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [40]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

## 3.2. 기본 변수를 기본 값으로 갖는 매개변수
- 기본 변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본 변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [42]:
i = 80
#기본 변수가 스칼라 변수일 때: 함수가 정의되는 시점으로 기본 값 세팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [44]:
i = 90
make_url("localhost")

'http://localhost:80'

In [46]:
list_ = []
#기본 변수가 리스트, 셋, 딕셔너리, 기타 객체일 때: 함수가 실행되는 시점으로 기본 값 세팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [47]:
print(func3(20))

[10, 20]

In [48]:
print("list_=", list_)

list_= [10, 20]

In [49]:
print(func3(50))

[10, 20, 50]

In [76]:
#실행할 때마다 L을 공유하는 걸 원치 않으면
def func3(a, L=None):
    if L is None: #등호로 확인하지 않음
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))

[10]
[10]
[1, 2, 3, 10]

## 3.3. 순서 인수, 키워드 인수
- 순서(위치)인수: 함수에 정의된 순서대로 전달 방식
- 키워드인수: 인수의 이름을 명시하는 방식
- 함수 정의 시, 순서인수와 키워드인수를 같이 넣을 때는 순서인수→키워드인수 순으로 (안 그럼 에러)

In [52]:
def func3(a, L=None):
    if L is None: #등호로 확인하지 않음
        L = []
    L.append(a)
    return L

In [53]:
lst = []
print(func3(10, lst)) #순서 인수: 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) #키워드 인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4. 튜플 매개 변수를 이용한 가변 인수 설정
- 가변 인수 : 매개변수의 개수가 가변

In [55]:
#파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c): #중복정의
    return a+b+c
add(3,5) #변수 모자라 TypeError

TypeError: add() missing 1 required positional argument: 'c'

In [62]:
#args 앞에 *표: args가 튜플로 전달받는다
def add(*args):
    #print('args =', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 #누적시킬 변수
    for num in args:
        sum += num
    return sum

In [67]:
print(add())
print(add(1))
print(add(1,2,3,4,5,6,7,8,9,10))

0
1
55

In [70]:
subject = ('Python', 'Web', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-Web-JavaScript-DBMS'

In [71]:
#튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [72]:
concat('Python', 'Web', 'JavaScript', 'DBMS', '-')
#의도한 바와 달리 '-'가 sep에 들어가지 않고 subject로 처리됨.

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [73]:
#Solution 1. 매개변수 이름을 지정해 호출
concat('Python', 'Web', 'JavaScript', 'DBMS', sep='-')

'Python-Web-JavaScript-DBMS'

In [78]:
#Solution 2. 기본값을 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)
print(concat('Python', 'Web', 'JavaScript', 'DBMS', '-')) #마지막 인수를 subject로 인지
print(concat('Python', 'Web', 'JavaScript', 'DBMS', sep='-'))

Python ~ Web ~ JavaScript ~ DBMS ~ -
Python-Web-JavaScript-DBMS

In [81]:
#👍Better Solution 3. sep을 순서인수로 앞에서 선언 
def concat(sep, *subject):
    return sep.join(subject)

In [80]:
concat('~', 'Python', 'Web', 'DB', 'MLDL')

'Python~Web~DB~MLDL'

## 3.5. 딕셔너리 매개변수
- 딕셔너리 인수: 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [98]:
def func5(**args): #**딕셔너리 매개변수, args를 딕셔너리로 전달받음
    print('이름: ', args.get('name', '무명'))
    print('나이: ', args.get('age', '미상'))
    print('전화: ', args.get('tel', '없음'))
    print('주소: ', args.get('address', '미상'))

In [97]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print("{}: {}".format(key, value))

In [100]:
def func5(**args):
    '딕셔너리 매개변수로 받아 address 키가 없으면 서울시 관악구로 추가하고 키-값을 출력'
    if 'address' not in args: #args에 address 키가 없으면 if문 True
        args['address']='서울시 관악구'
#        args.update({'address':'서울시 관악구'})
#        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{}: {}".format(key, value))

In [101]:
func5(name='홍길동', 
      tel='010-1111-2222',
      address='서울 구로구')

name: 홍길동
tel: 010-1111-2222
address: 서울 구로구

## 3.6. 함수 정의 시 매개 변수의 순서
- 순서 인수 > 튜플 인수(*) > 키워드 인수(기본값) > 딕셔너리 인수(**)

In [103]:
#순서인수>튜플인수>딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a=', a)
    print('순서인수 b=', b)
    print('튜플인수 c=', c)
    print('딕셔너리인수 d=', d)

In [105]:
func6(10, 20, 1, 2, 3, 4,5,6, 'a', 'b', True, name='홍', age=30, address='신림')

순서인수 a= 10
순서인수 b= 20
튜플인수 c= (1, 2, 3, 4, 5, 6, 'a', 'b', True)
딕셔너리인수 d= {'name': '홍', 'age': 30, 'address': '신림'}

In [106]:
#순서인수>튜플인수>키워드인수>딕셔너리인수
def func7(a, b, c, *d, e=10, **f):
    print('순서인수 a =', a)
    print('순서인수 b =', b)
    print('순서인수 c =', c)
    print('튜플인수 d =', d)
    print('키워드인수(기본값 10) e =', e)
    print('딕셔너리인수 f =', f)

In [111]:
func7(10, 20, 30, e=99)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값 10) e = 99
딕셔너리인수 f = {}

In [109]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (1, 2, 3, 4, 5)
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7. 인수의 언패킹

### 튜플 인수 언패킹
- 패킹 : 함수 정의 시 매개변수 앞에 *붙임(튜플매개변수)
- 언패킹: 함수 호출 시 튜플매개변수 앞에 *붙임

In [112]:
def add(*args):
    #print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [114]:
add(1,2,3) #1,2,3이 튜플로 패킹

6

In [116]:
numbers = (1,2,3)
add(*numbers) # ==add(1,2,3)

6

In [119]:
print(numbers)
print(*numbers)

(1, 2, 3)
1 2 3

### 딕셔너리 인수 언패킹
- 패킹 : 함수 정의 시 매개변수 앞에 **붙임(딕셔너리매개변수)
- 언패킹: 함수 호출 시 딕셔너리 매개변수 앞에 **붙임

In [120]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [121]:
func8(shape='rect', width=40, height=30) #패킹

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [122]:
#키워드 인자로 넣을 것을 딕셔너리로 패킹해 놓으면 func8에 넣을 수 없음
info = {'shape':'rect', 'width':40, 'height':30} 
func8(**info) #언패킹

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4. 람다식
- retrun 한 줄짜리 작은 익명함수
## 4.1. 람다식 연습

In [2]:
#덧셈식 함수 정의
def add(a, b):
    return a+b
print(add(2,5))
print(type(add))

7
<class 'function'>

In [3]:
add2 = lambda a, b: a + b
print(add2(2,5))
print(type(add2))

7
<class 'function'>

In [5]:
#Ex.1 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어 보세요.
def evenodd1(num):
    if num%2:
        result = "홀수"
    else:
        result = "짝수"
    return result
evenodd1(5), evenodd1(6)

('홀수', '짝수')

In [6]:
#간소화
def evenodd2(num):
    result = "홀수" if num%2 else "짝수"
    return result
evenodd2(5), evenodd2(6)

('홀수', '짝수')

In [9]:
#람다식
evenodd = lambda num : "홀수" if num%2 else "짝수"
evenodd(5), evenodd(6)

('홀수', '짝수')

In [14]:
#Ex. 2 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어 보세요.
def diff1(a,b):
    if a >= b:
        result = a-b
    else:
        result = b-a
    return result
diff1(3,2), diff1(2,5)

(1, 3)

In [15]:
#간소화
def diff2(a,b):
    return a-b if a>=b else b-a
diff2(3,2), diff2(2,5)

(1, 3)

In [16]:
#람다식
diff = lambda a, b: a-b if a>=b else b-a
diff(3,2), diff(2,5)

(1, 3)

In [18]:
#Ex. 3 매개변수로 잔액을 받아, 잔액이 0 이상이면 잔액을 return하고, 음수면 'negative'를 리턴하는 함수를 람다식으로
fex3 = lambda balance : balance if balance >= 0 else 'negative'
fex3(1000), fex3(0), fex3(-100)

(1000, 0, 'negative')

In [21]:
#Ex. 4. 점수를 입력받아 80점 이상은 'A학점', 60점 이상은 'B학점', 60점 미만은 '재시험'
    #100점 초과, 0점 미만은 '유효하지 않음'을 return하는 람다식
def grade_chk(score):
    if (score > 100) | (score < 0):
        return "유효하지 않음"
    elif score >= 80:
        return "A학점"
    elif score >= 60:
        return "B학점"
    else:
        return "재시험"
grade_chk(80)

'A학점'

In [27]:
#람다식
gradeChk = lambda score: "유효하지 않음" if (score > 100) | (score < 0) else \
                        "A학점" if score >= 80 else \
                        "B학점" if score >= 60 else \
                        "재시험"
gradeChk(90)

'A학점'

In [28]:
score_grade = lambda score: "채점 오류" if (score > 100) | (score < 0) else \
                        "A학점" if score >= 90 else \
                        "B학점" if score >= 80 else \
                        "C학점" if score >= 60 else \
                        "D학점" if score >= 40 else \
                        "F학점"
score_grade(35)

'F학점'

In [36]:
#Ex. 5 safe_index 함수를 람다식으로
safe_index = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else -1
# start 번째부터 item이 있는 index를 반환
lst1 = [89, 3, 31, 96, 5, 6]
safe_index(lst1, 96)

3

In [46]:
#람다식이 list에 들어갈 수 있음
add = lambda a, b : a+b
sub = lambda a, b : a-b
mul = lambda a, b : a*b
div = lambda a, b : a/b if b else "두 번째 인자 0으로 나눌 수 없음"
operations = [add, sub, mul, div] #사칙연산 함수들

def act_operations(a, b, operations=operations): #a, b의 연산 결과들을 return
    result = []
    for op in operations:
        result.append(op(a,b))
    return result

act_operations(20,5)

[25, 15, 100, 4.0]

In [47]:
act_operations(8, 2, [lambda x, y : x**y, lambda x, y : 10*x + y])

[64, 82]

In [48]:
(lambda x, y : 10*x + y)(4,3)

43

In [49]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [50]:
act_operations(8,2)

[10, 6, 16, 4.0, 64]

## 4.2. 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return문

### 4.2.1. map

In [60]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [61]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [62]:
list_data = [1,2,3,4,5,6,7,8,9]
#def x_2(x):
#    return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
#리스트 컴프리헨션
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
for data in map(lambda x:x*2, list_data): #list_data 전체에 첫 번째 매개변수 함수를 적용시키는 역할
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [74]:
#Ex.1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
prices = ['5,000', '5000', '6,000', '1000', '5,000', '5000', '6,000', '1000']
toint = lambda value : int(value.replace(',', ''))
# prices_int = map(lambda value : int(value.replace(',', '')), prices)
# for price in prices_int:
#     print(price, end=' ')
prices_int = []
for data in map(toint, prices):
   prices_int.append(data)
print(prices_int)

[5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

In [ ]:
#Ex. 2 members 1을 members 2로
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'}]를
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18}]
'''

In [95]:
def split_date(date):
    split_date = date.split('-')
    return {
        'year': int(split_date[0]),
        'month': int(split_date[1]),
        'day': int(split_date[2])
    }
split_date('2025-01-01')

{'year': 2025, 'month': 1, 'day': 1}

In [89]:
def split_date(date):
    return {
        'year': int(date.split('-')[0]),
        'month': int(date.split('-')[1]),
        'day': int(date.split('-')[2])
    }
split_date('2025-01-01')

{'year': 2025, 'month': 1, 'day': 1}

In [102]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'}]
def member_preprocessing(member):
    return {
        'name': member.get('name'),
        'year': int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day': int(member.get('birth').split('-')[2])
    }
member_preprocessing(members1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [105]:
members2 = list(map(lambda member: {
                                'name': member.get('name'),
                                'year': int(member.get('birth').split('-')[0]),
                                'month': int(member.get('birth').split('-')[1]),
                                'day': int(member.get('birth').split('-')[2])
                                    }, members1))
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [108]:
#members2를 members1로 전환
def join_data(data):
    return "{}-{:02}-{:02}".format(data.get('year'),data.get('month'),data.get('day'))
join_data({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [ ]:
def join_data(data):
    return "{year}-{month:02}-{day:02}".format(data.get('year'),data.get('month'),data.get('day'))
join_data({'year': 2000, 'month': 1, 'day': 1})

In [112]:
def join_data(data):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}
join_data({'year': 2000, 'month': 1, 'day': 1})

{'birth': '2000-01-01'}

In [117]:
members1 = list(map(lambda member: {"name" : member.get('name'), 
                                    "birth" : "{year}-{month:02}-{day:02}".format(**member)
                                   }, members2
                   )
               )
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### 4.2.2. filter
- map : 흩뿌리기
- filter : 골라내기

In [118]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [119]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2
#     if value %2: 
#         return True
#     else:
#         return False
filter_template(lambda value: value%2 != 0, list_data)

[1, 3, 5, 7, 9]

In [121]:
#리스트 컴프리헨션
[value for value in list_data if value % 2 != 0]

[1, 3, 5, 7, 9]

In [120]:
list_data[0::2]

[1, 3, 5, 7, 9]

In [125]:
#ex. 다음 리스트에서 소수점 이하가 0인 수만 추출(filter)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0]
list(filter(lambda value : value%1 == 0, L))

[1, 3.0, 100, -2.0]

In [127]:
#EX. 리스트 컴프리헨션 사용
[item for item in L if item % 1 == 0]

[1, 3.0, 100, -2.0]

### 4.2.3. sort

In [131]:
#무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [133]:
#1번째 item 기준으로 내림차순 정렬
pairs.sort(key= lambda data: data[1], reverse= True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [139]:
#ex.합이 큰 순으로 정렬
number_2d = [[9,9], [1,100], [10,200]]
#number_2d.sort(key= lambda data: data[0]+data[1], reverse= True)
number_2d.sort(key= lambda items: sum(items), reverse= True)
number_2d

[[10, 200], [1, 100], [9, 9]]

In [142]:
students = [{'name':'홍', 'score': 99},
           {'name':'김', 'score': 50},
           {'name':'박', 'score': 77},
           {'score': 100}]

In [145]:
#이름 오름차순
name_select = lambda data: data.get('score', '힣')
name_select({'score': 99})

99

In [149]:
#students.sort(key= lambda data: data.get('name')) # Error : None 타입과 Str 비교
students.sort(key= lambda data: data.get('name', '힣')) #'힣' 대신 '가' 넣으면 name 없는 항목을 제일 앞으로me 없는 항목을 제일 앞으로
students

[{'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [151]:
#ex. 3
books = [{'no':1, 'title': '더트릭컬', 'writer': '폴빠','price':'19,800'},
    {'no':2, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]
books

[{'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [155]:
#no 기준으로 sort
books.sort(key = lambda book : book['no'])
books

[{'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [156]:
#title 기준으로 sort
books.sort(key = lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [ ]:
#price 기준으로 sort
# books.sort(key = lambda book : book['price'])
# books

In [ ]:
#30200, '12,000' → 12000, '5000' → 5000, 'ㅁ' → 0, None → 0

In [163]:
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else: 
        return 0
print(parse_int('5,000'), parse_int(12000), parse_int('ㅁ'), parse_int(None))

5000 12000 0 0

In [173]:
def parse_int2(price):
    if str(price).replace(',','').isdigit():
        return str(price).replace(',','')
    else: 
        return 0
print(parse_int2('5,000'), parse_int2(12000), parse_int2('ㅁ'), parse_int2(None))

5000 12000 0 0

In [170]:
parse_int = lambda book : \
            int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() \
                else book.get('price') if isinstance(book.get('price'), int) \
                else 0
    
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 'ㅁ'})

0

In [175]:
copyBooks = books.copy()
copyBooks.sort(key=lambda book : \
            int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() \
                else book.get('price') if isinstance(book.get('price'), int) \
                else 0, reverse = True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5. 파이썬 내장 함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while ...)처럼 간주하므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다.

In [4]:
a = 10
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:90%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:10pt;}\ndiv.text_cell_render.rendered_html{font-size:10pt;}\ndiv.output {font-size:10pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:10pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:10pt;padding:5px;}\ntable.dataframe{font-size:10px;}\n</style>\n"""))',
  'globals()',
  'a = 10\nglobals()',
  'a = 10\nglobals()'],
 '_oh': {2: {...}, 3: {...}},
 '_dh': [WindowsPath('C:/ai/source/01_python')],
 'In': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:90%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:10pt;}\ndiv.text_cell_render.rendered_html{font-size:10pt;}\ndiv.output {font-size:10pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:10pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:10pt;padding:5px;}\ntable.dataframe{font-size:10px;}\n</style>\n"""))',
  'globals()',
  'a = 10\nglobals()',
  'a = 10\nglobals()'],
 'Out': {2: {...}, 3: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001FC116A3730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1fc116b3ee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1fc116b3ee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': {...},
 '___': '',
 '_i': 'a = 10\nglobals()',
 '_ii': 'globals()',
 '_iii': 'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:90%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:10pt;}\ndiv.text_cell_render.rendered_html{font-size:10pt;}\ndiv.output {font-size:10pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:10pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:10pt;padding:5px;}\ntable.dataframe{font-size:10px;}\n</style>\n"""))',
 '_i1': 'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:90%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:10pt;}\ndiv.text_cell_render.rendered_html{font-size:10pt;}\ndiv.output {font-size:10pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:10pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:10pt;padding:5px;}\ntable.dataframe{font-size:10px;}\n</style>\n"""))',
 'display': <function IPython.core.display_functions.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, raw=False, clear=False, **kwargs)>,
 'HTML': IPython.core.display.HTML,
 '_i2': 'globals()',
 '_2': {...},
 '_i3': 'a = 10\nglobals()',
 'a': 10,
 '_3': {...},
 '_i4': 'a = 10\nglobals()'}

In [5]:
all([True, True, True, False]) #모든 요소가 True인지 판별하는 함수

False

# 6. 연습문제
## 실습형

In [9]:
#ex1. 
def get_max_min(data_list):
    return {"최대값": max(data_list), "최소값": min(data_list)}
get_max_min([5,6,7,8])

{'최대값': 8, '최소값': 5}

In [11]:
get_min_max = lambda data_list : {"최대값": max(data_list), "최소값": min(data_list)}
get_min_max([4,5,6,7])

{'최대값': 7, '최소값': 4}

In [16]:
#ex2. BMI 지수 - 마른 체형 / 표준 / 비만 / 고도비만 출력
def getBMI(kg, m) :
    bmi = (kg / m**2)
    if 18.5<=bmi<25:
        return '표준'
    elif 25<=bmi<30:
        return '비만'
    elif bmi<18.5:
        return '마른 체형'
    else:
        return '고도 비만'
print(getBMI(50, 1.7), getBMI(80, 1.8), getBMI(75, 1.7), getBMI(90, 1.6))

마른 체형 표준 비만 고도 비만

In [8]:
#ex3. 직각 삼각형의 밑변과 높이를 입력받은 후 삼각형 면적과 둘레를 계산하는 함수를 작성
    #리턴값은 면적과 둘레를 return
    #math.sqrt(): 제곱근을 구하는 함수
import math
def get_triangle(width, height):
    return {"넓이":width*height*0.5, "둘레":width+height+math.sqrt((width**2)+(height**2))}

get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [63]:
#ex4. 시작과 끝 입력 후 범위 내 모든 수의 합을 출력
def mysum(fRom, end):
    sum = 0
    for number in range(fRom, end + 1):
        sum += number
    return sum
mysum(1,10)

55

In [64]:
#ex5. 입력받은 리스트의 각 문자열의 첫 세 글자로만 구성된 리스트를 리턴하는 함수와 람다식
def get_abbrs(lst):
    abbrs=[]
    for i in range(len(lst)):
        abbrs.append(lst[i][0:3])
    print(abbrs)
get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [65]:
#람다식
get_abbrs = lambda lst : list(map(lambda x:x[0:3], lst))
get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [37]:
#ex6. return x**y 함수 정의를 람다식으로 수정
f = lambda x, y : x**y
f(2,3)

8

In [34]:
#ex7. input [1, 2, 3, 4, 5] output [1, 4, 9, 16, 25] (1)람다함수와 map함수 사용 / (2)리스트 컴프리헨션 사용
input_lst=[1, 2, 3, 4, 5]
#(1) 람다, map
list(map(lambda x: x**2, input_lst))

[1, 4, 9, 16, 25]

In [35]:
#(2) 리스트 컴프리헨션
[item**2 for item in input_lst]

[1, 4, 9, 16, 25]

In [39]:
#ex8. 각 코드가 다른 결과를 return하는 이유 서술
#print(*a)는 언패킹

In [40]:
#ex9. 다음 코드의 실행 결과
date_info={'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [41]:
#ex10. 입력받은 n개의 벡터(리스트, 튜플, 셋, 딕셔너리)의 크기가 같은지 return하는 함수 (리스트컴프리헨션)
def vector_size_check(*vector_var):
    s=set()
    for i in vector_var:
        s.add(len(i))
    if len(s) == 1:
        return True
    else:
        return False
vector_size_check(([1,2], {10,20}, {'name':'홍','age':30}), (1,))

False

In [45]:
#ex11. 하나의 스칼라 값을 리스트나 튜플 셋 등 크기가 일정하지 않은 벡터에 곱하는 코드
def scalar_vector_product(scalar, vector):
      return [scalar * element for element in vector]
print(scalar_vector_product(5, [1,2,3,4]))

[5, 10, 15, 20]

## 서술형

In [46]:
#ex1. 다음 코드의 실행 결과 → 2번!
pairs = [(1, 'd'), (2,'c'), (3,'b'), (4,'a')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [74]:
#ex2.오류 발생 라인 판별 및 문제 해결, 실행 결과
#오류 발생 라인: 문제의 14. func() / 11. sub()
#sub 정의 시 a가 사용 전에 정의되지 않음
#sub에 a=10을 포함하려는 의도라면, 다음과 같음.

def sub():
    a=10
    a += 1
    print(a, end='')
def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end='')
        sub()
a += 1 # a=11
func()

TypeError: 'int' object is not iterable

In [75]:
a = 10 
def sub():
    global a #문제해결을 위한 코드
    a += 1
    print(a, end='(sub함수에서 출력) ')
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func함수에서 출력) ')
        sub()
a += 1
func()

6(func함수에서 출력) 12(sub함수에서 출력) 6(func함수에서 출력) 13(sub함수에서 출력)

In [50]:
#ex3. 다음 구문 실행한 결과
var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [76]:
#ex4. 다음 구분 실행한 결과
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [55]:
#ex5. 다음 구문의 실행 결과
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [56]:
#ex6. 파이썬 함수에 대한 설명 중 잘못된 것은?
#(1)

In [57]:
#ex7. 다음과 구문이 있을 경우 오류가 발생하는 함수 호출은?
#(4) 매개변수 순서가 다르니 L=[], a=40으로 표기해야

In [66]:
#ex8. 설명의 키워드 : lambda

In [73]:
a=[1,2,3]
type(a)

list