In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:90%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:10px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font><b>
# 1. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1. 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 세팅
- **파이썬에서의 모든 변수는 객체로 저장**
    - 파이썬에서 변수는 실제 데이터를 담는 상자가 아니라, 메모리 어딘가에 존재하는 객체에 대한 참조(reference) 또는 포인터(pointer) 역할.
- 값과 자료형 동반 -> 5 할당 시 integer, 5.0 할당 시 float

In [2]:
r = 5
area = 3.14*r*r
print('넓이 :', area)

넓이 : 78.5

In [6]:
import numpy as np # numpy 패키지를 np라는 이름으로 사용
area = np.pi * r * r
print('넓이 :', area)

넓이 : 78.53981633974483

In [7]:
print('area의 주소: ', id(area))
print('area의 타입: ', type(area))

area의 주소:  1852446721872
area의 타입:  <class 'float'>

In [8]:
area.is_integer()

False

In [14]:
area = 10
print('area의 주소: ', id(area))
print('area의 타입: ', type(area))

area의 주소:  1852367700496
area의 타입:  <class 'int'>

In [15]:
area = "파이썬"
print('area의 주소: ', id(area))
print('area의 타입: ', type(area))

area의 주소:  1852488420880
area의 타입:  <class 'str'>

## 1.2. 변수(함수) 이름 규칙
- 문자로 시작
- 문자, 숫자와 _(특수문자는 _ 외 불가)로 변수명 작성 (*.a 방식 불가)
- 함수명을 변수명으로 사용 가능하나 피한다. 꼭 써야 한다면, str_ 식으로 변형해 사용한다.
- 파이썬 예약어(for, if, ...)는 변수명 사용 불가
- 한글 변수는 지정 가능하나, 꼭 필요 시에만 사용 (비추)

In [17]:
#member.name="홍길동" (에러)
member_name="홍길동"
memberName="홍길순"
print(member_name, memberName)

홍길동 홍길순

In [18]:
# 숫자 : 정수(integer), 실수(float), 복소수(complex)
i = 1 + 3j # 복소수. 허수 부분은 j로 표시
print(type(i))

<class 'complex'>

In [20]:
isinstance(i, complex) # isinstance(변수, 타입): i 변수가 complex 타입의 '객체'인지?

True

In [21]:
isinstance(i, int) # i 변수가 int 타입의 객체인지?

False

## 1.3. 다중 변수 선언

In [22]:
a, b = 10, 20
print(a, b, a+b)

10 20 30

In [23]:
a, b = b, a+b # 다중 변수 할당 시 순차적 할당이 아니고, 동시 일괄 할당
print(a, b)

20 30

## 1.4. 도움말

In [1]:
# help 빠져나오기: q / 결과 접고펴기: Esc + o
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
# 도움말 기능: Shift + Tab 키 (Tab을 두 번 연속으로 누르면 자동확장)
print()

In [4]:
def add(x, y=0):
    '''
    매개변수(x,y) 2개를 받아 두 자리 숫자로 만드는 함수
    x는 10의 자리수가 되고,
    y는 1의 자리수가 됨 (y default값 0)
    ''' # 도움말 설정 # 따옴표 세 쌍으로 여러 줄 작성.
    return x*10 + y

In [5]:
add(3, 4)

34

In [6]:
add(3)

30

# 2. 화면 입출력(i/o)

In [9]:
#input(): 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음.
first = input()
print(first)

임의값
임의값

In [23]:
first = input('첫 번째 숫자는? ')
second = input('두 번째 숫자는? ')

첫 번째 숫자는? 8
두 번째 숫자는? 2

In [24]:
print(first, second)
print(first+second)

8 2
82

In [25]:
print(int(first)+int(second))

10

In [26]:
first = int(input('첫 번째 숫자는? '))
second = int(input('두 번째 숫자는? '))

첫 번째 숫자는? 8
두 번째 숫자는? 2

In [29]:
print(first, second)
print('두 수의 합은 ', first+second)

8 2
두 수의 합은  10

In [30]:
whos

Variable   Type        Data/Info
--------------------------------
add        function    <function add at 0x000001955DF18430>
first      int         8
second     int         2

In [38]:
print('first', first, 'second', second, sep=' - ')
print('Hello', 'Python', end='\t')
print('Hello', 'Python', sep=' + ', end=' ! ')
# sep= 구분. default는 sep=' '
# end= 마침. default는 end= \n
# \t : tab

first - 8 - second - 2
Hello Python	Hello + Python !

# 3. 기본 자료형
- 자료형이란: 변수가 가져야 할 값의 형식. 자료형에 따라 값의 크기와 저장 방식이 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
- 한 변수에 저장 가능한 타입 (one of below)
    - 숫자: int, float, complex
    - 문자: str("", '')
    - 논리: bool(True/False)

## 3.1. 숫자형

In [39]:
import sys
print(sys.maxsize) # 시스템 내 정수의 최대값 / 단위 최대값으로 이해. 더 큰 수도 무한히 다룰 수 있음.

9223372036854775807

In [44]:
i = sys.maxsize + 10**18
print(i)
print(type(i))

10223372036854775807
<class 'int'>

In [50]:
a1=10**-10
a2=0.00000012
print(a1, a2)

1e-10 1.2e-07

In [72]:
# 파이썬에서는 /의 결과는 무조건 실수
# JAVA, C에서는 정수 연산 정수 결과는 정수로만 처리
f1 = 3/2
f2 = 4/2
f1i, f2i = (int(f1), int(f2))
print('f1= ', f1, ', f2= ', f2)
print('f1i= ', f1i, ', f2i= ', f2i)

f1=  1.5 , f2=  2.0
f1i=  1 , f2i=  2

In [58]:
# int는 반올림 아닌 내림
# 몫 연산자 //
f=3//2
print('f= ', f)

f=  1

## 3.2. 문자형
- 겹따옴표("~")나 홑따옴표('~') 이용

In [61]:
# 홍길동'짱' 출력 원할 때

#name = '홍길동'짱'' #에러 발생
#name = '홍길동\'짱\''
name = "홍길동'짱'" #다른 종류 따옴표로 감싸면 됨
address = '서울시 관악구 "신림"동'
print(name, address)

홍길동'짱' 서울시 관악구 "신림"동

In [68]:
#escape 문자(탈출문자) : \n \t \r
text = '여러 줄 짜리 내용을 저장\n줄바꿈 문자를 써서\t작성'
print(text)

여러 줄 짜리 내용을 저장
줄바꿈 문자를 써서	작성

In [69]:
text='''여러 줄 짜리 내용을 작성
줄바꿈 문자를 써서\t작성'''
print(text)

여러 줄 짜리 내용을 작성
줄바꿈 문자를 써서	작성

### ※ 문자열 연산 (+, *)

In [79]:
"""
    여러 줄 주석 용도로도 사용
    2025.09.12 문자열 연산 by 아무개
    이런 거 저런 거 유의 사항 등등
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1+name2)
print(name1,name2)
print(name1*3)

홍길동동해번쩍
홍길동 동해번쩍
홍길동홍길동홍길동

### ※ Raw 데이터
- 용도: 정규표현식 이용, 디렉토리 경로를 표현 시 이용
- 정규표현식(regular expression): 특정한 규칙을 가진 문자열의 집합을 표현하는 데 사용하는 형식 언어

In [80]:
print('Hello\nWorld')

Hello
World

In [81]:
# Raw Data: 데이터 처리 시 Escape 문자(\n, \t, \', \", \r)를 그대로 저장 및 처리
print(r'Hello\nWorld')

Hello\nWorld

정규표현식(regex) 문법
'''
    1. <참조> 위키백과 https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D
    2. 간략문법
        \d : 숫자와 매치. [0-9]와 동일
        \D : 숫자가 아닌 것
        \w : 영문자나 숫자[a-zA-Z0-9]와 동일
        \W : 영문자나 숫자가 아닌 문자
        . : 문자
        \. : . (마침표)
        \- : - (하이픈)
        {2,} : 2번 이상 반복
        {2, 4} : 2~4회 반복
        ? : 0회 또는 1회
        + : 1회 이상 반복
        * : 0회 이상 반복
    3. regex 연습장 https://regexr.com/
           ex1. 전화번호 : 02 888 7777 / 02)888-7777 / 028887777 / 010-9999-9999 / 010.9999.8888
               -> 0(10|2|\d{2})[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
               -> 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
           ex2. Email : abc12@naver.com / abc12@sns.co.kr
               -> \w+@\w+\.\w+(\.\w+)? 
               -> \w+@\w+(\.\w+){1,2}
           ex3. 주민등록번호 : 901230-1234567
               -> \d{2}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|30|31)(\-| |\.)[1-4]\d{6}
    4. 소스 구현'''

In [3]:
import re
data = "이름: 홍길동, 주소: 서울, 전화: 02-123-4567, \
핸드폰: 010-9999-1111, 특징: 동해번쩍 서해번쩍\
혈액형: Bㅋㅋ ㅋㅋzz"
print(data)

이름: 홍길동, 주소: 서울, 전화: 02-123-4567, 핸드폰: 010-9999-1111, 특징: 동해번쩍 서해번쩍혈액형: Bㅋㅋ ㅋㅋzz

In [4]:
# 정규표현식 처리에서는 raw data 처리하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도로 raw data 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}" #전화번호 regex
tels = re.findall(tel_pattern, data) # data에서 tel_pattern을 모두 색인. 없으면 빈 list 반환
tels

['02-123-4567', '010-9999-1111']

In [5]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [6]:
# 정규표현식 패턴과 처음 match되는 것을 색인
firstTel = re.search(tel_pattern, data)
firstTel

In [7]:
print(data[21:32]) #문자열 슬라이싱 21부터 32 '앞'까지
print(firstTel.group(0))

02-123-4567
02-123-4567

In [8]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [9]:
print('전체 전화번호: ', firstPhone.group(0))
print('국번: ', firstPhone.group(1))
print('중간 번호: ', firstPhone.group(2))
print('끝 번호: ', firstPhone.group(3))

전체 전화번호:  02-123-4567
국번:  02
중간 번호:  123
끝 번호:  4567

In [10]:
# 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", '', data) 
# \s : space 
# 한글, 숫자, 영문 대문자, 여백 제외 모두 삭제

'이름 홍길동 주소 서울 전화 021234567 핸드폰 01099991111 특징 동해번쩍 서해번쩍혈액형 B '

In [14]:
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)

'이름: 홍길동, 주소: 서울, 전화:  , 핸드폰:  , 특징: 동해번쩍 서해번쩍혈액형: Bㅋㅋ ㅋㅋzz'

In [15]:
# 파일 경로
#file_path = "C:/ai/source/01_python/data/ch02.txt" #\ -> /
#file_path = "C:\\ai\\source\\01_python\\data\\ch02.txt" #\\ = /
file_path = r"C:\ai\source\01_python\data\ch02.txt" #escape 문자 피하기 위해 r

In [19]:
file_stream = open(file_path, "w") # 입력 스트림("r")인지 출력 스트림("w")인지 지정
print("Hello, Python.", "Hello, World.", sep="\n") # 화면 출력 default
print("Hello, Python.", "Hello, World.", sep="\n", file=file_stream) # 파일에 출력
file_stream.close() # close하지 않으면 저장되지 않음

Hello, Python.
Hello, World.

### ※ 문자열 인덱싱

In [20]:
str_ = '0123456789'
str_

'0123456789'

In [22]:
str_[0], str_[2], str_[-1], str_[-3] # 음수 인덱싱은 맨 마지막이 -1.

('0', '2', '9', '7')

In [23]:
str_[10] #범위 밗 인덱싱 에러

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [31]:
'''
문자열변수[from:to] : from 부터 to 앞까지 추출
문자열변수[from:to:step] : from 부터 to 앞까지, step씩 전진하며 추출
    from 생략 시 처음부터
    to 생략 시 끝까지
    step 생략 시 하나씩 전진
'''

'2345'

In [48]:
print(str_[:10:2]) #0번부터 10 앞까지 두 칸씩
print(str_[4::2]) #4번부터 끝까지 두 칸씩
print(str_[2:6]) #2번부터 6 앞까지
print(str_[9:0:-1]) #9번부터 0번 전까지 -1씩

02468
468
2345
987654321

In [41]:
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3. 논리형 (True / False)
- 파이썬에서 True와 False는 모두 대문자로 시작해야

In [43]:
a = 10>5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [44]:
int(True), int(False)

(1, 0)

In [45]:
bool(1), bool(0)

(True, False)

In [47]:
# False로 간주되는 것 = 0, "" 빈 스트링, [] 빈 리스트, () 빈 튜플, {} 빈 딕셔너리, None
# False로 판별되는 경우를 제외한 모든 게 True =/ 0

bool(-10), bool(""), bool(" ")

(True, False, True)

In [51]:
# 제어문
if []: #True면 실행 내용, False면 실행 x
    print("True")
else: #False면 실행 내용
    print('False')

False

In [55]:
name = input("너의 이름은? ")
if name: # name이 빈 스트링이 아니면
    print('당신의 이름은', name, "이군요.")
else :
    print('이름을 입력 안 하셨군요.')

너의 이름은? 302
당신의 이름은 302 이군요.

## 3.4. 자료형 확인 및 형변환 함수
- type() : 타입 출력
- isinstance(변수, 타입) : 변수가 해당 타입인지 여부 출력(T/F)
- float() : 실수형으로 변환
- int() : 정수형으로 변환 (내림)
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [56]:
float(4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [60]:
# 에러 발생하는 경우들
# int("") -빈 스트링, int(" ") -문자, int(None), int("123.9"), int("9,000")
# float("") -빈 스트링, float(" ") -문자, float(None), float("9,000")

# 4. 포맷팅
- 포맷팅이랑, 출력할 문자 숫자 날짜 등의 형식을 지정하는 것
## 4.1. 문자열에 형식 지정

In [84]:
name = "홍길동"
age = 30
print(name+' 님의 나이는 '+str(age)+'살입니다.')
print(name, ' 님의 나이는 ', age, '살입니다.', sep='')

홍길동 님의 나이는 30살입니다.
홍길동 님의 나이는 30살입니다.

In [85]:
# %s: 문자, %d: 10진수, %f: 실수
print("%s 님의 나이는 %d살입니다."%(name, age)) # 많이 안 쓰는 방법(옛날, 굳이?)
print(f"{name} 님의 나이는 {age}살입니다.") # 많이 쓰이는 방법
print("{} 님의 나이는 {}살입니다.".format(name, age)) # 가장 많이 쓰이는 방법
print("{0} 님의 나이는 {1}살입니다.".format(name, age))
print("{1} 님의 나이는 {0}살입니다.".format(age, name))
print("{0:5s} 님의 나이는 {1:_>3d}살입니다.".format(name, age)) #formatting 문법

홍길동 님의 나이는 30살입니다.
홍길동 님의 나이는 30살입니다.
홍길동 님의 나이는 30살입니다.
홍길동 님의 나이는 30살입니다.
홍길동 님의 나이는 30살입니다.
홍길동   님의 나이는 _30살입니다.

## 4.2. format() 문법
- '{[인덱스 번호]:[공백대체문자][정렬방법][자릿수][타입]}'.format(변수명)
- 인덱스 번호 생략 가능, 공백 대체문자 생략 시 빈 여백, 정렬방법 생략 시 좌측 정렬, 자릿수 생략 가능, 자릿수 입력 시 타입 필수
    * 인덱스 : format 함수 안의 매개 변수 순서
    * 정렬 방식 : < 왼쪽 정렬 > 오른쪽 정렬 ^ 가운데 정렬
        - 숫자의 경우 오른쪽 정렬 기본 / 문자의 경우 왼쪽 정렬이 기본
    * 정수 자릿수 : 출력할 자릿수.
    * 실수 자릿수 : 전체 출력될 자릿수. 변수 중 출력할 자릿수 ex) 10.2
        - 데이터가 자릿수 초과 시 무시하고 출력
    * 타입 : d 10진수, b 2진수, o 8진수, x 16진수, f 실수, s 문자
    * 공백 대체문자 적용 시 정렬 방식을 명시해야 함 (or Error)

In [92]:
a=12345
s='Hello'
print("[{0}] [{0:10}] [{0:3}]".format(a))
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [93]:
# 정렬 방식 : < > ^
a, b, c = 10, 20, 3
print("[{:<4}] [{:^4}] [{:>4}]".format(a, b, c))

[10  ] [ 20 ] [   3]

In [108]:
# 실수 자릿수 
# ex) 10.2f : 전체 10자리, 그중 소수점 2자리 
# 6.2 : 전체 6자리 중 2자리 출력
a = 10
f = 123.1234
s = "Hello"
print("[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]".format(a, f, s))

[$10.00] [123.12] [____He]

In [111]:
# 자릿수 앞에 +를 붙이면 양수의 경우도 부호 출력 (부호나 소수점도 자리수/문자수에 포함)
a, b = 123, -123
print("[{:+10}], [{:+10}], [{:10}]".format(a,b,a))
print("[{:=10}], [{:=10}], [{:10}]".format(a,b,a))
print("[{:=+10}], [{:=+10}], [{:10}]".format(a,b,a))

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [+      123]

In [112]:
# 10진수, 2진수, 8진수, 16진수 출력
a = 15
print("10진수 [{:4d}]".format(a))
print("2진수 [{:4b}]".format(a))
print("8진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))

10진수 [  15]
2진수 [1111]
8진수 [  17]
16진수 [   f]

In [121]:
a = 2.5678
sign = "+"
width = 10
precision = 4
print("[{:{}{}.{}}]".format(a, sign, width, precision))
print("[{:{sign}{width}.{precision}}]".format(a,
                                             sign=sign, width=width, precision=precision))

[    +2.568]
[    +2.568]

## 4.3. 날짜 출력

In [131]:
#import datetime #datetime 모듈(파이선 프로그램 파일 datetime.py) 전체를 메모리에 Load
from datetime import datetime # datetime 모듈 안의 datetime class만 메모리에 Load
thatday1 = datetime(2025, 9, 11) # 25년 9월 11일 0시 0분 0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)

In [132]:
# Y - 연도 4자리, Y - 연도 2자리, m - 월, d - 일
# p - 오전/오후 I - 12시간 단위, H - 24시간 단위, M - 분, S - 초
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

25년 09월 11일 00시 00분 00초
25년 09월 11일 PM 02시 30분 00초

In [135]:
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

'25년 09월 11일 00시 00분 00초'

In [136]:
thatday2.strftime("%y년 %m월 %d일 %p %I시 %M분 %S초")

'25년 09월 11일 PM 02시 30분 00초'

In [178]:
# 현재의 날짜와 시간
now = datetime.now() #현재 시간
now - thatday1 #날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53764, microseconds=300264)

In [179]:
# 지금(날짜와 시간) 정보를 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M")) #

2025-09-15 PM 02:56
2025-09-15 PM 02:56

In [180]:
# 현재 시간을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-09-15 PM 02:59'