In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:90%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:10px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터구조</font><b>
- 리스트[80,99], 튜플(99,20), 딕셔너리{"name":"홍","score":"99}, 셋{10,20}

# 1. 리스트
## 1.1. 리스트 만들기
- [대괄호]를 이용해 만들며, 여러 개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(함수) 사용 가능 (다른 자료형을 리스트로)
- 인덱스(각 요소의 위치, 0부터 시작해 맨 마지막은 -1) 사용 가능
- 슬라이싱[from:to:step] 사용해 부분 데이터셋 추출 가능
- 인덱싱과 슬라이싱 이용해 쓰기와 읽기 지원

In [2]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
fruits[0] #인덱싱 이용한 읽기
#print(fruits[4]) #없는 인덱싱 명령 시 에러

['banana', 'apple', 'orange', 'grape']

'banana'

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

x=mango
y=apple
z=orange

In [10]:
#range(from, to, by): from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
    #숫자를 순차적으로 사용할 수 있게
    #from 생략 시 0, by 생략 시 1, to는 생략할 수 없음
range(10) #[0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [17]:
#for i in [0,1,2,3,4,5]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [21]:
fruits = ['mango', 'apple', 'orange']
#print("{}번째 과일은 {}".format(0, fruits[0]))
#print("{}번째 과일은 {}".format(1, fruits[1]))
#print("{}번째 과일은 {}".format(2, fruits[2]))
#for i in range(3):
for i in range(len(fruits)): #len(리스트변수): 데이터 개수
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [25]:
list(enumerate(fruits))
#1 : to ascertain the number of : count
#2 : to specify one after another : list

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [27]:
#for 변수이름 in range(len(fruits)):
for i, fruit in enumerate(fruits) : #[(0, 'mango'), (1, 'apple'), (2, 'orange')]
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [29]:
for fruit in fruits: #['mango', 'apple', 'orange']
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다

In [35]:
#리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3,4], (5,6)]
numbers[2], numbers[3][1]

('2', 3)

In [38]:
#2차원 리스트
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5],
              [10,20,30,40,50],
              [1,3,5,7,9],
              [2,4,6,8,10]]
print(numbers_2d)
#특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

50

In [41]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [46]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print('')

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [49]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [50]:
for i in range(len(numbers_2d)): #i: 행
    for j in range(len(numbers_2d[i])): #j: 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print() #줄바꿈

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [51]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [52]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2. 기본 정보 조회

In [53]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100,0,1],
             [9,100,100],
             [59,100,130]]

In [54]:
#item수
len(numbers), len(numbers_2d)

(5, 3)

In [58]:
#최소값 min 최대값 max
#부분 리스트 중 첫 번째 item으로 비교
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [59]:
#list 데이터가 문자일 경우 ASCII 코드 값으로 min/max 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [64]:
#정렬하기 
numbers = [1, 12, 3, 4, 5] #동일 자료형 간 정렬 가능
print("오름차순 정렬 :", sorted(numbers)) 
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용 시 리스트 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용 시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3. 요소 추가
- +: 두 리스트 연결
- *: 리스트를 곱한 수 만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(list) : 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx 번째 인덱스 위치에 값 추가

In [65]:
numbers = [1, 2, 3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [66]:
numbers = [1, 2, 3]
print(numbers*3) #곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [68]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [69]:
numbers.append([5,6,7])
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [70]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
numbers

[1, 2, 3, 4, 5, 6]

In [71]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [72]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [73]:
lst.extend('hello') #문자열의 각 문자를 추가
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [74]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4. 인덱싱과 요소 개수
- list변수[index] : 인덱스를 이용한 접근
- index(타깃데이터) : 해당 타깃데이터가 있는 요소의 index를 반환
- 타깃데이터 in list변수 : 타깃데이터가 list변수의 요소인지 여부 (없는 데이터 인덱싱할 때 에러 발생하므로)
- count(타깃데이터) : 리스트에서 해당 타깃데이터의 개수 반환

In [77]:
numbers = [1,2,3, [1,2,3], 1,2,3,]
numbers.count(1), numbers.count([1,2,3])

(2, 1)

In [78]:
numbers.count(5)

0

In [79]:
print(2 in numbers) #numbers 요소 중 2가 있는지 여부
print(5 in numbers) #numbers 요소 중 5가 있는지 여부

True
False

In [81]:
#numbers.index(5) #에러
if 5 in numbers: #if True
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [82]:
if numbers.count(5): #if not 0
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [83]:
#안전한 index 함수 정의
def safe_index(lst, item):
    '''If the item is in the the lst, returns the index of item.
    If the item is not in the lst, returns -1.'''
    if item in lst:
        return lst.index(item)
    return -1 #else 안 써도 됨. false라면 위의 return이 실행되지 않으니, 바로 아래 return으로 넘어감.

In [85]:
safe_index(numbers, 5)

-1

In [4]:
from lst import safe_index #lst.py 모듈 안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers, 3), safe_index(numbers, 4)

(2, -1)

In [5]:
#numbers[5] #벗어난 인덱스로 인덱싱 시 에러
numbers[2:5] #벗어난 인덱스로 슬라이싱 시 에러 X

[3]

## 1.5. 원하는 요소 추출

1. 리스트 슬라이싱: 
    - [from:to:step] from 번째부터 to 앞까지 step씩 증가하는 index 값 추출
    
        *from 생략시 처음, to 생략 시 끝, step 생략 시 1*
    - 인덱스의 범위를 벗어난 값도 에러 나지 않음
    - 인덱스는 음수도 가능(마지막부터 역순)
    
2. <b>리스트 컴프리헨션:</b>
    - 원하는 조건의 데이터 추출

In [11]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[0::2]) #짝수 번째 index 값 출력
print(numbers[2:100]) #인덱스 범위 벗어난 슬라이싱 가능
print(numbers[-1::-2])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]
[20, 18, 12, 9, 3]

In [14]:
#모든 데이터 추출
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers] #list화

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [16]:
#짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end='\t')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [17]:
#ex.1 numbers에서 10 이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [18]:
#ex.2 fruits에서 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [19]:
#ex.2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [20]:
#ex.3 3 이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [21]:
#ex.4 리스트 요소의 값의 2배를 추출 (리스트 변수)
[2*l for l in L]

[2, 4, 6, 8, 10]

## 1.6. 요소 수정하기
- 인덱싱, 슬라이싱을 이용해 수정

In [22]:
#인덱싱을 이용하여 개별 요소 수정
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 22
numbers

[0, 1, 22, 3, 4, 5, 6, 7, 8, 9]

In [23]:
#슬라이싱(step 부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx']
numbers

['xx', 'xx', 'xx', 'xx', 22, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#슬라이싱(step 부분 포함)을 이용하여 부분 수정 시 요소 개수가 일치해야
numbers = [0]*10
print('수정 전: ',numbers)
numbers[0::2] = [7, 7, 7, 7, 7]
print('수정 후: ',numbers)

수정 전:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후:  [7, 0, 7, 0, 7, 0, 7, 0, 7, 0]

## 1.7. 요소 삭제하기
- pop() : 가장 마지막 인덱스의 요소를 반환하고 삭제
- pop(idx) : idx번째 요소를 반환하고 삭제
- remove(data) : list 안의 data를 삭제 (반환x)
- del list변수[idx] : idx 번째 요소 삭제 (반환x)

In [42]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]

In [43]:
print("삭제한 데이터 :", numbers.pop(1))
print("삭제 후 numbers :", numbers)

삭제한 데이터 : 2
삭제 후 numbers : [1, 3, 4]

In [44]:
numbers.remove(1)
print("데이터1 삭제 후 numbers :", numbers)

데이터1 삭제 후 numbers : [3, 4]

In [45]:
del numbers[0]
print("0번째 요소 삭제 후 numbers: ", numbers)

0번째 요소 삭제 후 numbers:  [4]

In [46]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다.')

해당 데이터는 없는 item입니다.

In [47]:
numbers.clear() #numbers의 모든 요소를 삭제 != del numbers
numbers

[]

## 1.8. 정렬하기

In [49]:
numbers = [9, 5, 0, 8, 6]
print("리스트는 정렬하지 않고, 출력 결과만 정렬 :", sorted(numbers))
print("numbers: ", numbers)

리스트는 정렬하지 않고, 출력 결과만 정렬 : [0, 5, 6, 8, 9]
numbers:  [9, 5, 0, 8, 6]

In [50]:
numbers.sort() #반환 값 없이, numbers 리스트 순서 정렬
numbers

[0, 5, 6, 8, 9]

In [51]:
numbers.sort(reverse=True) #내림차순 (default는 오름차순)
numbers

[9, 8, 6, 5, 0]

In [52]:
numbers.reverse #리스트를 역순으로 변경
#numbers=numbers[::-1]
numbers

[9, 8, 6, 5, 0]

## 1.9. 리스트 복제

In [54]:
#스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본 i = {i}, 복사본 cp_i = {cp_i} / 원본 주소 = {id(i)}, 복사본 주소 = {id(cp_i)}")
cp_i = 99
print(f"원본 i = {i}, 복사본 cp_i = {cp_i} / 원본 주소 = {id(i)}, 복사본 주소 = {id(cp_i)}")

원본 i = 10, 복사본 cp_i = 10 / 원본 주소 = 2228964688400, 복사본 주소 = 2228964688400
원본 i = 10, 복사본 cp_i = 99 / 원본 주소 = 2228964688400, 복사본 주소 = 2228964691248

In [55]:
#데이터 구조의 할당 (not 복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers #할당
print('원본 주소 :', id(numbers))
print('복제본 주소: ', id(new_numbers))

원본 주소 : 2229075214912
복제본 주소:  2229075214912

In [58]:
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소: ', id(new_numbers))

원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 2229075214912
복제본 주소:  2229075214912

In [66]:
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소: ', id(new_numbers))

원본 내용 : [1, 5, 6, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 2229078322624
복제본 주소:  2229078322624

In [68]:
#리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() #numbers를 복제(깊은 복사), 주소가 다름
new_numbers.sort(reverse=True) #내림차순 정렬
print('원본 :', numbers)
print('복제본 :', new_numbers)
print('원본주소 :', id(numbers))
print('복제본주소 :', id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본주소 : 2229078310016
복제본주소 : 2229078310976

In [69]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print("정렬 전: ", city)
print("정렬 후: ", temp)

정렬 전:  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후:  ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [70]:
temp.clear()
print("정렬 전: ", city)
print("정렬 후: ", temp)

정렬 전:  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후:  []

# 2. 튜플
- 리스트([])와 유사하지만 읽기 전용. 수정이 필요 없는 데이터에서 사용
- 수정이 불가하므로, 데이터 수정/추가/삭제 불가
- 제공되는 함수도 많지 않음

In [72]:
city = ('서울', '대전', '대구', '부산', '하남')
#파이썬은 여러 개의 값이 전달될 때 튜플 타입으로 전달
#city = '서울', '대전', '대구', '부산', '하남' #요거와 같아 #a,b=1,2 이것도
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [77]:
#매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
", ".join(city)

'서울, 대전, 대구, 부산, 하남'

In [78]:
from lst import safe_index
safe_index(city, '대전')

1

In [79]:
l = ['서울'] #요소가 하나 있는 list
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [81]:
city = ('서울') #요소가 하나 있는 tuple 의도, 그러나!
print(type(city)) #str 타입이 됨
print(city) #괄호 없이 텍스트로 출력
print(len(city)) #글자수 출력

<class 'str'>
서울
2

In [83]:
city = ('서울',) #요소가 하나 있는 tuple로 인식
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [84]:
numbers = (1, 2, 3)
#numbers.append(4) 수정하기 위한 함수는 제공되지 않음
#extends, remove 등등도 안 됨
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [85]:
numbers.count(2), numbers.index(3)

(1, 2)

In [88]:
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [89]:
safe_index(numbers, 4)

-1